# Упражнения на работу с pandas

In [112]:
import numpy as np
import pandas as pd
from dateutil.parser import parse
import re

 ### Упражнение № 1
 #### Создайте Series из каждого из элементов: списка, ndarray и словаря.

In [113]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)
ser3 = pd.Series(mydict)
print(ser3.head())

a    0
b    1
c    2
e    3
d    4
dtype: int64

### Упражнение № 2
#### Преобразуйте `ser` в датафрейм с его индексом в качестве еще одного столбца датафрейма.

In [114]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

df = ser.to_frame().reset_index()
print(df.head())

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

### Упражнение № 3
#### Объедините `ser1` и `ser2`, чтобы сформировать датафрейм.

In [115]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)

df = pd.concat([ser1, ser2], axis=1)

df = pd.DataFrame({'col1': ser1, 'col2': ser2})
print(df.head())

  col1  col2
0    a     0
1    b     1
2    c     2
3    e     3
4    d     4

### Упражнение № 4
#### Добавьте имя ряда  `ser`, назвав его `latin_letters`.

In [116]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser.name = 'latin_letters'
ser.head()

0    a
1    b
2    c
3    e
4    d
Name: latin_letters, dtype: object

### Упражнение № 5
#### Из `ser1` удалите элементы, присутствующие в `ser2`.

In [117]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

### Упражнение № 6
#### Получить все элементы `ser1` и `ser2`, которые не являются общими для обоих рядов.

In [118]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

ser_u = pd.Series(np.union1d(ser1, ser2))
ser_i = pd.Series(np.intersect1d(ser1, ser2))

ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

### Упражнение № 7
#### Вычислите минимальное значение, 25-й процентиль, медиану, 75-й процентиль и максимальное значение `ser`.

In [119]:
state = np.random.RandomState(100)

ser = pd.Series(np.random.normal(10, 5, 25))

np.percentile(ser, q=[0, 25, 50, 75, 100])

array([-2.30243036,  5.18108248,  9.76615976, 12.00046154, 19.16976082])

### Упражнение № 8
#### Вычислите частоту встречаемости каждого уникального значения `ser`.

In [120]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
ser.value_counts(normalize=True)

h   0.2333
e   0.1667
d   0.1333
g   0.1333
f   0.1000
b   0.1000
c   0.0667
a   0.0667
Name: proportion, dtype: float64

### Упражнение № 9
#### Из `ser` оставить 2 наиболее часто встречающихся элемента без изменений, а все остальные заменить на `Прочее`.

In [121]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))

print("Топ 2 freq", ser.value_counts())
ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'
ser

Топ 2 freq 4    6
1    4
3    2
Name: count, dtype: int64

C:\Users\user\AppData\Local\Temp\ipykernel_16020\2520800037.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Other' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'

0         4
1         4
2         1
3         1
4         4
5     Other
6         4
7         4
8     Other
9         1
10        4
11        1
dtype: object

### Упражнение № 10
#### Разбейте ряд `ser` на 10 равных децилей и замените значения на название дециля.

In [122]:
ser = pd.Series(np.random.random(20))
print(ser.head())
pd.qcut(ser, 10, 
        labels = [f"Децель_№{i+1}" for i in range(10)]).head()

0   0.2309
1   0.6640
2   0.6196
3   0.0683
4   0.4857
dtype: float64

0    Децель_№3
1    Децель_№8
2    Децель_№6
3    Децель_№2
4    Децель_№4
dtype: category
Categories (10, object): ['Децель_№1' < 'Децель_№2' < 'Децель_№3' < 'Децель_№4' ... 'Децель_№7' < 'Децель_№8' < 'Децель_№9' < 'Децель_№10']

### Упражнение № 11
#### Переформируйте ряд `ser` в датафрейм с 7 строками и 5 столбцами

In [123]:
ser = pd.Series(np.random.randint(1, 10, 35))
df = pd.DataFrame(ser.values.reshape(7,5))
print(df)

   0  1  2  3  4
0  1  5  1  4  2
1  2  3  3  9  7
2  7  9  9  2  5
3  6  6  2  3  4
4  6  1  2  3  2
5  9  3  9  4  8
6  8  5  7  4  9

### Упражнение № 12
#### Найти позиции чисел, кратных 3, из ряда `ser`.

In [124]:
ser = pd.Series(np.random.randint(1, 10, 7))
ser

print(ser)
np.argwhere(ser % 3 == 0)

0    5
1    1
2    4
3    1
4    4
5    4
6    3
dtype: int32

array([[6]])

### Упражнение № 13
#### Из `ser` извлечь элементы, находящиеся на позициях в списке `pos`.

In [125]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

ser.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

### Упражнение № 14
#### Объедините `ser1` и `ser2` по вертикали и горизонтали (чтобы сформировать датафрейм).

In [126]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

df = pd.concat([ser1, ser2], axis = 1)
print(df)

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

### Упражнение № 15
#### Получите позиции элементов `ser2` в `ser1` в виде списка.

In [127]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

[pd.Index(ser1).get_loc(i) for i in ser2]

[5, 4, 0, 8]

### Упражнение № 16
#### Вычислить среднеквадратическую ошибку рядов `truth` и `pred`.

In [128]:
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

print(np.mean((truth - pred)**2))

0.1662819601453605

### Упражнение № 17
#### В каждом слове `ser` поставьте первый символ каждого слова в верхний регистр.

In [129]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
pd.Series([i.title() for i in ser])

0     How
1      To
2    Kick
3    Ass?
dtype: object

### Упражнение № 18
#### В каждом слове `ser` посчитайте число символов.

In [130]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
ser.map(lambda x:  len(x))

0    3
1    2
2    4
3    4
dtype: int64

### Упражнение № 19
#### Вычислите разность разностей между последовательно идущими числами в `ser`.

In [131]:
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])
print(ser.diff().to_list())
print(ser.diff().diff().to_list())

[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

### Упражнение № 20
#### Преобразуйте строковое представление дат в `datetime64`.

In [132]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', 
                 '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
ser.map(lambda x: parse(x))

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

### Упражнение № 21
#### Получите из `ser` день месяца, номер недели, день года и день недели.

In [133]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', 
                 '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

ser_dt = ser.map(lambda x: parse(x))

print("Date:", ser_dt.dt.day.tolist())
print("Week number:", ser_dt.dt.isocalendar().week.tolist())
print("Day num of year:", ser_dt.dt.dayofyear.tolist())
print("Day of week:", ser_dt.dt.day_name().tolist())

Date: [1, 2, 3, 4, 5, 6]
Week number: [53, 5, 9, 14, 19, 23]
Day num of year: [1, 33, 63, 94, 125, 157]
Day of week: ['Friday', 'Wednesday', 'Saturday', 'Thursday', 'Monday', 'Saturday']

### Упражнение № 22
#### Замените элементы `ser` на даты, начинающиеся с 4-го числа соответствующего месяца.

In [134]:
ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])

ser.map(lambda x: parse('04 ' + x))

0   2010-01-04
1   2011-02-04
2   2012-03-04
dtype: datetime64[ns]

### Упражнение № 23
#### Из `ser` извлеките слова, содержащие не менее 2 гласных букв.

In [135]:
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])
from collections import Counter
mask = ser.map(lambda x: sum([Counter(x.lower()).get(i, 0) for i in list('aeyuoi')]) >= 2)
ser[mask]

TypeError: 'DataFrame' object is not callable

### Упражнение № 24
#### Извлеките корректные адреса электронной почты из ряда `emails`. Шаблон регулярного выражения для корректных адресов электронной почты приведен в качестве образца.

In [28]:
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'
mask = emails.map(lambda x: bool(re.match(pattern, x)))
print(emails[mask])

1    rameses@egypt.com
2            matt@t.co
3    narendra@modi.com
dtype: object

### Упражнение № 25
#### Вычислить среднее значение веса в `weights` для каждого фрукта из `fruit`.

In [29]:
fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weight = pd.Series(np.linspace(1, 10, 10))
print("Веса:", weight.tolist())
print("Фрукты:", fruit.tolist())

df = pd.DataFrame({'fruit': fruit, 'weight':weight})
print(df.groupby('fruit')['weight'].mean())

Веса: [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
Фрукты: ['apple', 'apple', 'carrot', 'apple', 'carrot', 'banana', 'banana', 'carrot', 'apple', 'banana']
fruit
apple     4.000000
banana    7.666667
carrot    5.333333
Name: weight, dtype: float64

### Упражнение № 26
#### Вычислить [евклидово расстояние](https://en.wikipedia.org/wiki/Euclidean_distance) между векторами $p$ и $q$, не используя встроенную формулу.

In [30]:
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])
print(np.sqrt(np.sum((p - q) ** 2)))

18.16590212458495

### Упражнение № 27
#### Получите позиции пиков (значений, окруженных с двух сторон меньшими значениями) в `ser`.

In [31]:
ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])
print(ser[(ser > ser.shift(1)) & (ser > ser.shift(-1))].index)

Index([1, 5, 7], dtype='int64')

### Упражнение № 28
#### Замените пробелы в `my_str` на наименее часто встречающийся символ.

In [32]:
my_str = 'dbc deb abed gade'
ser = pd.Series(list(my_str))
counts = ser.value_counts()
my_str = my_str.replace(' ', counts.index[-1])
my_str

'dbcgdebgabedggade'

### Упражнение № 29
#### Создайте временной ряд, начинающийся с `2000-01-01`, содержащий 10 субботних дней после этого и имеющий в качестве значений случайные числа

In [33]:
dates = pd.date_range(start='2000-01-01', periods=10, freq='W-SAT')
value = np.random.randint(1, 10, size=10)
print(pd.Series(data=value, index=dates))

2000-01-01    5
2000-01-08    1
2000-01-15    8
2000-01-22    2
2000-01-29    4
2000-02-05    3
2000-02-12    4
2000-02-19    3
2000-02-26    9
2000-03-04    4
Freq: W-SAT, dtype: int32

### Упражнение № 30
#### В `ser` отсутствуют некоторые даты и значения. Сделайте так, чтобы все отсутствующие даты появились и заполнились значением из предыдущей даты.

In [ ]:
ser = pd.Series([1,10,3,np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))
print(ser)

full = pd.date_range(start=ser.index.min(), end=ser.index.max())
print(ser.reindex(full).ffill())

2000-01-01     1.0
2000-01-03    10.0
2000-01-06     3.0
2000-01-08     NaN
dtype: float64
2000-01-01     1.0
2000-01-02     1.0
2000-01-03    10.0
2000-01-04    10.0
2000-01-05    10.0
2000-01-06     3.0
2000-01-07     3.0
2000-01-08     3.0
Freq: D, dtype: float64

### Упражнение № 31
#### Вычислите автокорреляции для первых 10 лагов `ser`. Определите, какой из лагов имеет наибольшую корреляцию. (см. также [Модель авторегрессии и распределённого лага — Википедия](https://ru.wikipedia.org/wiki/%D0%9C%D0%BE%D0%B4%D0%B5%D0%BB%D1%8C_%D0%B0%D0%B2%D1%82%D0%BE%D1%80%D0%B5%D0%B3%D1%80%D0%B5%D1%81%D1%81%D0%B8%D0%B8_%D0%B8_%D1%80%D0%B0%D1%81%D0%BF%D1%80%D0%B5%D0%B4%D0%B5%D0%BB%D1%91%D0%BD%D0%BD%D0%BE%D0%B3%D0%BE_%D0%BB%D0%B0%D0%B3%D0%B0))

In [35]:
ser = pd.Series(np.arange(20) + np.random.normal(1, 10, 20))
autocorr = [ser.autocorr(lag=i) for i in range(1, 11)]
print(autocorr)
print("Лаг с наибольшей корреляцией", np.argmax(autocorr))

[np.float64(0.31458626022453423), np.float64(0.18668765551021235), np.float64(0.5240839738271443), np.float64(0.2611714376925304), np.float64(0.14293669516495228), np.float64(0.27370559011812196), np.float64(0.5600995931244885), np.float64(0.00748266426562758), np.float64(-0.28410201979175026), np.float64(0.5543687203595096)]
Лаг с наибольшей корреляцией 6

### Упражнение № 32
#### Импортируйте каждую 50-ю строку набора данных [BostonHousing dataset](https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv) в виде датафрейма.

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', skiprows=lambda x: x % 50 != 0 and x != 0)
print(df)

      crim  zn  indus  chas    nox     rm   age     dis  rad  tax  ptratio  \
0  0.21977   0   6.91     0  0.448  5.602  62.0  6.0877    3  233     17.9
1  0.06860   0   2.89     0  0.445  7.416  62.5  3.4952    2  276     18.0
2  2.73397   0  19.58     0  0.871  5.597  94.9  1.5257    5  403     14.7
3  0.03150  95   1.47     0  0.403  6.975  15.3  7.6534    3  402     17.0
4  0.19073  22   5.86     0  0.431  6.718  17.5  7.8265    7  330     19.1
5  0.05561  70   2.24     0  0.400  7.041  10.0  7.8278    5  358     14.8
6  0.02899  40   1.25     0  0.429  6.939  34.5  8.7921    1  335     19.7
7  9.91655   0  18.10     0  0.693  5.852  77.8  1.5004   24  666     20.2
8  7.52601   0  18.10     0  0.713  6.417  98.3  2.1850   24  666     20.2
9  0.17783   0   9.69     0  0.585  5.569  73.5  2.3999    6  391     19.2

        b  lstat  medv
0  396.90  16.20  19.4
1  396.90   6.19  33.2
2  351.85  21.45  15.4
3  396.90   4.56  34.9
4  393.74   6.56  26.2
5  371.58   4.74  29.0
6  389.85   5.89  26.6
7  338.16  29.97   6.3
8  304.21  19.31  13.0
9  395.77  15.10  17.5

### Упражнение № 33
#### Импортируйте набор данных [boston housing dataset](https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv), но при импорте измените столбец `'medv'` (*median house value*) так, чтобы значения < 25 стали `Low`, а > 25 - `High`.

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv")

df['medv'] = df['medv'].apply(lambda x: 'Low' if x < 25 else 'High')
print(df)

        crim    zn  indus  chas    nox     rm   age     dis  rad  tax  \
0    0.00632  18.0   2.31     0  0.538  6.575  65.2  4.0900    1  296
1    0.02731   0.0   7.07     0  0.469  6.421  78.9  4.9671    2  242
2    0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242
3    0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3  222
4    0.06905   0.0   2.18     0  0.458  7.147  54.2  6.0622    3  222
..       ...   ...    ...   ...    ...    ...   ...     ...  ...  ...
501  0.06263   0.0  11.93     0  0.573  6.593  69.1  2.4786    1  273
502  0.04527   0.0  11.93     0  0.573  6.120  76.7  2.2875    1  273
503  0.06076   0.0  11.93     0  0.573  6.976  91.0  2.1675    1  273
504  0.10959   0.0  11.93     0  0.573  6.794  89.3  2.3889    1  273
505  0.04741   0.0  11.93     0  0.573  6.030  80.8  2.5050    1  273

     ptratio       b  lstat  medv
0       15.3  396.90   4.98   Low
1       17.8  396.90   9.14   Low
2       17.8  392.83   4.03  High
3       18.7  394.63   2.94  High
4       18.7  396.90   5.33  High
..       ...     ...    ...   ...
501     21.0  391.99   9.67   Low
502     21.0  396.90   9.08   Low
503     21.0  396.90   5.64   Low
504     21.0  393.45   6.48   Low
505     21.0  396.90   7.88   Low

[506 rows x 14 columns]

### Упражнение № 34
#### Создайте датафрейм со строками в виде шагов (интервалов) заданного ряда

In [38]:
L = pd.Series(range(15))
result = np.array([L[i:i + 4].values for i in range(0, len(L) - 4 + 1, 2)])
print(result)

[[ 0  1  2  3]
 [ 2  3  4  5]
 [ 4  5  6  7]
 [ 6  7  8  9]
 [ 8  9 10 11]
 [10 11 12 13]]

### Упражнение № 35
#### Импортируйте столбцы 'crim' и 'medv' из набора данных [BostonHousing dataset](https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv) в виде датафрейма.

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv',
                 usecols=['crim', 'medv'])
print(df.head())

      crim  medv
0  0.00632  24.0
1  0.02731  21.6
2  0.02729  34.7
3  0.03237  33.4
4  0.06905  36.2

### Упражнение № 36
#### Получите количество строк, столбцов, тип данных и суммарную статистику каждого столбца набора данных [Cars93](https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv). Также получите эквивалент датафрейма в виде numpy-массива и списка.

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

print(f"Строк {df.shape[0]},  Столбцов {df.shape[1]}")
print("\nТипы данных столбцов:")
print(df.dtypes)
print("\nСуммарная статистика:")
print(df.describe())
print('\nЭквивалент DataFrame в виде numpy-массива:')
print(df.to_numpy().tolist())
print('\nЭквивалент DataFrame в виде списка:')
print(df.values.tolist())

Строк 93,  Столбцов 27

Типы данных столбцов:
Manufacturer           object
Model                  object
Type                   object
Min.Price             float64
Price                 float64
Max.Price             float64
MPG.city              float64
MPG.highway           float64
AirBags                object
DriveTrain             object
Cylinders              object
EngineSize            float64
Horsepower            float64
RPM                   float64
Rev.per.mile          float64
Man.trans.avail        object
Fuel.tank.capacity    float64
Passengers            float64
Length                float64
Wheelbase             float64
Width                 float64
Turn.circle           float64
Rear.seat.room        float64
Luggage.room          float64
Weight                float64
Origin                 object
Make                   object
dtype: object

Суммарная статистика:
       Min.Price      Price  Max.Price   MPG.city  MPG.highway  EngineSize  \
count  86.000000  91.000000  88.000000  84.000000    91.000000   91.000000
mean   17.118605  19.616484  21.459091  22.404762    29.065934    2.658242
std     8.828290   9.724280  10.696563   5.841520     5.370293    1.045845
min     6.700000   7.400000   7.900000  15.000000    20.000000    1.000000
25%    10.825000  12.350000  14.575000  18.000000    26.000000    1.800000
50%    14.600000  17.700000  19.150000  21.000000    28.000000    2.300000
75%    20.250000  23.500000  24.825000  25.000000    31.000000    3.250000
max    45.400000  61.900000  80.000000  46.000000    50.000000    5.700000

       Horsepower          RPM  Rev.per.mile  Fuel.tank.capacity  Passengers  \
count   86.000000    90.000000     87.000000           85.000000   91.000000
mean   144.000000  5276.666667   2355.000000           16.683529    5.076923
std     53.455204   605.554811    486.916616            3.375748    1.045953
min     55.000000  3800.000000   1320.000000            9.200000    2.000000
25%    100.750000  4800.000000   2017.500000           14.500000    4.000000
50%    140.000000  5200.000000   2360.000000           16.500000    5.000000
75%    170.000000  5787.500000   2565.000000           19.000000    6.000000
max    300.000000  6500.000000   3755.000000           27.000000    8.000000

           Length   Wheelbase      Width  Turn.circle  Rear.seat.room  \
count   89.000000   92.000000  87.000000    88.000000       89.000000
mean   182.865169  103.956522  69.448276    38.954545       27.853933
std     14.792651    6.856317   3.778023     3.304157        3.018129
min    141.000000   90.000000  60.000000    32.000000       19.000000
25%    174.000000   98.000000  67.000000    36.000000       26.000000
50%    181.000000  103.000000  69.000000    39.000000       27.500000
75%    192.000000  110.000000  72.000000    42.000000       30.000000
max    219.000000  119.000000  78.000000    45.000000       36.000000

       Luggage.room       Weight
count     74.000000    86.000000
mean      13.986486  3104.593023
std        3.120824   600.129993
min        6.000000  1695.000000
25%       12.000000  2647.500000
50%       14.000000  3085.000000
75%       16.000000  3567.500000
max       22.000000  4105.000000

Эквивалент DataFrame в виде numpy-массива:

### Упражнение № 37
#### Извлеките номер строки и столбца конкретной ячейки по заданному критерию.
#### *Какой производитель, модель и тип имеет наибольшую цену в `Price`? Каков номер строки и столбца ячейки с наибольшим значением `Price`?*

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
max_price = df['Price'].max()

rows_with_max_price = df[df['Price'] == max_price]

manufacturer = rows_with_max_price['Manufacturer'].values[0]
model = rows_with_max_price['Model'].values[0]
type_car = rows_with_max_price['Type'].values[0]

index = rows_with_max_price.index.values[0]
column_name = 'Price'
column_number = list(df.columns).index(column_name)

print(f"Производитель: {manufacturer}")
print(f"Модель: {model}")
print(f"Тип: {type_car}")
print(f"Максимальная цена: {max_price}")
print(f"Номер строки: {index}")
print(f"Номер столбца: {column_number}")

Производитель: Mercedes-Benz
Модель: 300E
Тип: Midsize
Максимальная цена: 61.9
Номер строки: 58
Номер столбца: 4

### Упражнение № 38

#### Переименуйте в `df` столбец `Type` в `CarType` и замените `.` в именах столбцов на `_`.

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

df.rename(columns={'Type': 'CarType'}, inplace=True)
df.columns = df.columns.str.replace('.', '_')
print(df.columns)

Index(['Manufacturer', 'Model', 'CarType', 'Min_Price', 'Price', 'Max_Price',
       'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
       'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
       'Make'],
      dtype='object')

### Упражнение № 39

#### Проверьте, нет ли в `df` отсутствующих значений.

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
if(df.isna().any().any()):
    print("ЕСТЬ отсутствующие значения")
else:
    print("НЕТ отсутствующих значений")

ЕСТЬ отсутствующие значения

### Упражнение № 40

#### Подсчитайте количество пропущенных значений в каждом столбце `df`. Какой столбец имеет наибольшее число пропущенных значений?

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

missing_values_count = df.isna().sum()

most_missing_column = missing_values_count.idxmax()
most_missing_value_count = missing_values_count.max()

print(f"Столбец с наибольшим количеством пропущенных значений: {most_missing_column}")
print(f"Количество пропущенных значений: {most_missing_value_count}")

Столбец с наибольшим количеством пропущенных значений: AirBags
Количество пропущенных значений: 38

### Упражнение № 41

#### Замените отсутствующие значения в столбцах `Min.Price` и `Max.Price` на соответствующие им средние значения.

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
df['Min.Price'] = df['Min.Price'].fillna(df['Min.Price'].mean())
df['Max.Price'] = df['Max.Price'].fillna(df['Max.Price'].mean())
print(df)

   Manufacturer    Model     Type  Min.Price  Price  Max.Price  MPG.city  \
0         Acura  Integra    Small  12.900000   15.9  18.800000      25.0
1           NaN   Legend  Midsize  29.200000   33.9  38.700000      18.0
2          Audi       90  Compact  25.900000   29.1  32.300000      20.0
3          Audi      100  Midsize  17.118605   37.7  44.600000      19.0
4           BMW     535i  Midsize  17.118605   30.0  21.459091      22.0
..          ...      ...      ...        ...    ...        ...       ...
88   Volkswagen  Eurovan      Van  16.600000   19.7  22.700000      17.0
89   Volkswagen   Passat  Compact  17.600000   20.0  22.400000      21.0
90   Volkswagen  Corrado   Sporty  22.900000   23.3  23.700000      18.0
91        Volvo      240  Compact  21.800000   22.7  23.500000      21.0
92          NaN      850  Midsize  24.800000   26.7  28.500000      20.0

    MPG.highway             AirBags DriveTrain  ... Passengers  Length  \
0          31.0                 NaN      Front  ...        5.0   177.0
1          25.0  Driver & Passenger      Front  ...        5.0   195.0
2          26.0         Driver only      Front  ...        5.0   180.0
3          26.0  Driver & Passenger        NaN  ...        6.0   193.0
4          30.0                 NaN       Rear  ...        4.0   186.0
..          ...                 ...        ...  ...        ...     ...
88         21.0                 NaN      Front  ...        7.0   187.0
89         30.0                 NaN      Front  ...        5.0   180.0
90         25.0                 NaN      Front  ...        4.0   159.0
91         28.0         Driver only       Rear  ...        5.0   190.0
92         28.0  Driver & Passenger      Front  ...        5.0   184.0

    Wheelbase  Width  Turn.circle Rear.seat.room  Luggage.room  Weight  \
0       102.0   68.0         37.0           26.5           NaN  2705.0
1       115.0   71.0         38.0           30.0          15.0  3560.0
2       102.0   67.0         37.0           28.0          14.0  3375.0
3       106.0    NaN         37.0           31.0          17.0  3405.0
4       109.0   69.0         39.0           27.0          13.0  3640.0
..        ...    ...          ...            ...           ...     ...
88      115.0   72.0         38.0           34.0           NaN  3960.0
89      103.0   67.0         35.0           31.5          14.0  2985.0
90       97.0   66.0         36.0           26.0          15.0  2810.0
91      104.0   67.0         37.0           29.5          14.0  2985.0
92      105.0   69.0         38.0           30.0          15.0  3245.0

     Origin                Make
0   non-USA       Acura Integra
1   non-USA        Acura Legend
2   non-USA             Audi 90
3   non-USA            Audi 100
4   non-USA            BMW 535i
..      ...                 ...
88      NaN  Volkswagen Eurovan
89  non-USA   Volkswagen Passat
90  non-USA  Volkswagen Corrado
91  non-USA           Volvo 240
92  non-USA           Volvo 850

[93 rows x 27 columns]

### Упражнение № 42

#### В `df` с помощью метода `apply` замените недостающие значения в `Min.Price` на среднее значение столбца, а в `Max.Price` — на медиану столбца.

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

df['Min.Price'] = df['Min.Price'].fillna(df['Min.Price'].mean())
df['Max.Price'] = df['Max.Price'].fillna(df['Max.Price'].median())

print(df)

   Manufacturer    Model     Type  Min.Price  Price  Max.Price  MPG.city  \
0         Acura  Integra    Small  12.900000   15.9      18.80      25.0
1           NaN   Legend  Midsize  29.200000   33.9      38.70      18.0
2          Audi       90  Compact  25.900000   29.1      32.30      20.0
3          Audi      100  Midsize  17.118605   37.7      44.60      19.0
4           BMW     535i  Midsize  17.118605   30.0      19.15      22.0
..          ...      ...      ...        ...    ...        ...       ...
88   Volkswagen  Eurovan      Van  16.600000   19.7      22.70      17.0
89   Volkswagen   Passat  Compact  17.600000   20.0      22.40      21.0
90   Volkswagen  Corrado   Sporty  22.900000   23.3      23.70      18.0
91        Volvo      240  Compact  21.800000   22.7      23.50      21.0
92          NaN      850  Midsize  24.800000   26.7      28.50      20.0

    MPG.highway             AirBags DriveTrain  ... Passengers  Length  \
0          31.0                 NaN      Front  ...        5.0   177.0
1          25.0  Driver & Passenger      Front  ...        5.0   195.0
2          26.0         Driver only      Front  ...        5.0   180.0
3          26.0  Driver & Passenger        NaN  ...        6.0   193.0
4          30.0                 NaN       Rear  ...        4.0   186.0
..          ...                 ...        ...  ...        ...     ...
88         21.0                 NaN      Front  ...        7.0   187.0
89         30.0                 NaN      Front  ...        5.0   180.0
90         25.0                 NaN      Front  ...        4.0   159.0
91         28.0         Driver only       Rear  ...        5.0   190.0
92         28.0  Driver & Passenger      Front  ...        5.0   184.0

    Wheelbase  Width  Turn.circle Rear.seat.room  Luggage.room  Weight  \
0       102.0   68.0         37.0           26.5           NaN  2705.0
1       115.0   71.0         38.0           30.0          15.0  3560.0
2       102.0   67.0         37.0           28.0          14.0  3375.0
3       106.0    NaN         37.0           31.0          17.0  3405.0
4       109.0   69.0         39.0           27.0          13.0  3640.0
..        ...    ...          ...            ...           ...     ...
88      115.0   72.0         38.0           34.0           NaN  3960.0
89      103.0   67.0         35.0           31.5          14.0  2985.0
90       97.0   66.0         36.0           26.0          15.0  2810.0
91      104.0   67.0         37.0           29.5          14.0  2985.0
92      105.0   69.0         38.0           30.0          15.0  3245.0

     Origin                Make
0   non-USA       Acura Integra
1   non-USA        Acura Legend
2   non-USA             Audi 90
3   non-USA            Audi 100
4   non-USA            BMW 535i
..      ...                 ...
88      NaN  Volkswagen Eurovan
89  non-USA   Volkswagen Passat
90  non-USA  Volkswagen Corrado
91  non-USA           Volvo 240
92  non-USA           Volvo 850

[93 rows x 27 columns]

### Упражнение № 43

#### Получите первый столбец (`a`) в `df` в виде датафрейма (а не в виде ряда).

In [47]:
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

print(df[['a']])

    a
0   0
1   5
2  10
3  15

### Упражнение № 44

#### 1. В `df` поменяйте местами столбцы `'a'` и `'c'`.
#### 2. Создайте обобщенную функцию для обмена данными между двумя столбцами без фиксированного задания имен столбцов.
#### 3. Отсортируйте столбцы в обратном алфавитном порядке, т.е. от столбца `'e'` до столбца `'a'`.

In [48]:
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

columns = list(df.columns)
columns[0], columns[2] = columns[2], columns[0]
df = df[columns]

def swap(df, col1, col2):
    cols = list(df.columns)
    idx1 = cols.index(col1)
    idx2 = cols.index(col2)
    cols[idx1], cols[idx2] = cols[idx2], cols[idx1]
    return df[cols]

swapped_df = swap(df, 'a', 'd')
print(swapped_df)

sorted_columns = sorted(list(df.columns), reverse=True)
sorted_df = df[sorted_columns]
print(sorted_df)

    c   b   d   a   e
0   2   1   3   0   4
1   7   6   8   5   9
2  12  11  13  10  14
3  17  16  18  15  19
    e   d   c   b   a
0   4   3   2   1   0
1   9   8   7   6   5
2  14  13  12  11  10
3  19  18  17  16  15

### Упражнение № 45

#### Измените настройки отображения `pandas` при выводе на печать датафрейма `df`, чтобы он показывал максимум 10 строк и 10 столбцов.

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
print(df.iloc[:10, :10])

  Manufacturer       Model     Type  Min.Price  Price  Max.Price  MPG.city  \
0        Acura     Integra    Small       12.9   15.9       18.8      25.0
1          NaN      Legend  Midsize       29.2   33.9       38.7      18.0
2         Audi          90  Compact       25.9   29.1       32.3      20.0
3         Audi         100  Midsize        NaN   37.7       44.6      19.0
4          BMW        535i  Midsize        NaN   30.0        NaN      22.0
5        Buick     Century  Midsize       14.2   15.7       17.3      22.0
6        Buick     LeSabre    Large       19.9   20.8        NaN      19.0
7        Buick  Roadmaster    Large       22.6   23.7       24.9      16.0
8        Buick     Riviera  Midsize       26.3   26.3       26.3      19.0
9     Cadillac     DeVille    Large       33.0   34.7       36.3      16.0

   MPG.highway             AirBags DriveTrain
0         31.0                 NaN      Front
1         25.0  Driver & Passenger      Front
2         26.0         Driver only      Front
3         26.0  Driver & Passenger        NaN
4         30.0                 NaN       Rear
5         31.0         Driver only        NaN
6         28.0         Driver only      Front
7         25.0         Driver only       Rear
8         27.0         Driver only      Front
9         25.0         Driver only      Front

### Упражнение № 46

#### Исключите вывод научной нотации типа 'e-03' в `df` и выведите до 4 чисел после запятой.

In [50]:
df = pd.DataFrame(np.random.random(4)**10, columns=['random'])
pd.set_option('display.float_format', '{:.4f}'.format)
print(df)

   random
0  0.0000
1  0.0475
2  0.0000
3  0.1904

### Упражнение № 47

#### Отформатируйте значения в столбце `'random'` из `df` в виде процентов.

In [51]:
df = pd.DataFrame(np.random.random(4), columns=['random'])
df['random'] = df['random'].apply(lambda x: f'{x:.2%}')
print(df)

   random
0  81.02%
1  62.95%
2   4.32%
3  95.80%

### Упражнение № 48

#### Из `df` отфильтруйте значения `Manufacturer`, `Model` и `Type` для каждой 20-й строки, начиная с 1-й (строка 0).

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

filtered_rows = df.iloc[::20, :][['Manufacturer', 'Model', 'Type']]
print(filtered_rows)

   Manufacturer    Model     Type
0         Acura  Integra    Small
20     Chrysler  LeBaron  Compact
40        Honda  Prelude   Sporty
60      Mercury   Cougar  Midsize
80       Subaru   Loyale    Small

### Упражнение № 49

#### В `df` замените `NaN` на `missing` в столбцах `Manufacturer`, `Model` и `Type` , создайте индекс как комбинацию этих трех столбцов и проверьте, является ли этот индекс первичным ключом.

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv', usecols=[0,1,2,3,5])

df[['Manufacturer', 'Model', 'Type']] = df[['Manufacturer', 'Model', 'Type']].fillna('missing')
df['Index'] = df['Manufacturer'] + ' ' + df['Model'] + ' ' + df['Type']
df.set_index('Index', inplace=True)
print(df)
print(f"Индекс является первичным ключом: {df.index.is_unique}")

                          Manufacturer    Model     Type  Min.Price  Max.Price
Index
Acura Integra Small              Acura  Integra    Small    12.9000    18.8000
missing Legend Midsize         missing   Legend  Midsize    29.2000    38.7000
Audi 90 Compact                   Audi       90  Compact    25.9000    32.3000
Audi 100 Midsize                  Audi      100  Midsize        NaN    44.6000
BMW 535i Midsize                   BMW     535i  Midsize        NaN        NaN
...                                ...      ...      ...        ...        ...
Volkswagen Eurovan Van      Volkswagen  Eurovan      Van    16.6000    22.7000
Volkswagen Passat Compact   Volkswagen   Passat  Compact    17.6000    22.4000
Volkswagen Corrado Sporty   Volkswagen  Corrado   Sporty    22.9000    23.7000
Volvo 240 Compact                Volvo      240  Compact    21.8000    23.5000
missing 850 Midsize            missing      850  Midsize    24.8000    28.5000

[93 rows x 5 columns]
Индекс является первичным ключом: True

### Упражнение № 50

#### Найти положение строки с 5-м наибольшим значением столбца `'a'` в `df`.

In [54]:
df = pd.DataFrame(np.random.randint(1, 30, 30).reshape(10,-1), columns=list('abc'))

fifth_largest = df['a'].sort_values(ascending=False).index[4]
print(fifth_largest)

2

### Упражнение № 51

#### В `ser` найдите положение 2-го наибольшего значения, превышающего среднее.

In [55]:
ser = pd.Series(np.random.randint(1, 100, 15))
mean_value = ser.mean()
second_largest = ser[ser > mean_value].nlargest(2).index[-1]
print(second_largest)

1

### Упражнение № 52

#### Получите две последние строки `df`, сумма строк которых больше 100.

In [56]:
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))
sum = df[df.sum(axis=1) > 100].tail(2)

print(sum)

     0   1   2   3
12  33  29  33  17
13  34  37  34  15

### Упражнение № 53

#### Замените все значения `ser`, находящиеся ниже 5%-ного и выше 95%-ного перцентиля, на соответствующие значения 5-го и 95-го перцентиля.

In [ ]:
ser = pd.Series(np.logspace(-2, 2, 30))

percentiles = ser.quantile([0.05, 0.95])
lower = percentiles[0.05]
upper = percentiles[0.95]

ser.clip(lower=lower, upper=upper, inplace=True)

print(ser)

0     0.0160
1     0.0160
2     0.0189
3     0.0259
4     0.0356
5     0.0489
6     0.0672
7     0.0924
8     0.1269
9     0.1743
10    0.2395
11    0.3290
12    0.4520
13    0.6210
14    0.8532
15    1.1721
16    1.6103
17    2.2122
18    3.0392
19    4.1753
20    5.7362
21    7.8805
22   10.8264
23   14.8735
24   20.4336
25   28.0722
26   38.5662
27   52.9832
28   63.8767
29   63.8767
dtype: float64

### Упражнение № 54

#### Перестройте `df` в максимально возможный квадрат с удалением отрицательных значений. При необходимости отбросьте наименьшие значения. Порядок положительных чисел в результате должен остаться тем же, что и в исходном варианте.

In [ ]:
df = pd.DataFrame(np.random.randint(-20, 50, 100).reshape(10, -1))

positive = df.where(df >= 0).stack().reset_index(drop=True)
size = int(np.floor(np.sqrt(len(positive))))
square_df = positive[:size**2].to_numpy().reshape(size, size)
final_df = pd.DataFrame(square_df)

print(final_df)

        0       1       2       3       4       5       6       7
0  7.0000 38.0000 21.0000 40.0000 30.0000 42.0000 12.0000  0.0000
1 30.0000 43.0000 49.0000 26.0000 34.0000 21.0000 27.0000 33.0000
2 41.0000  7.0000  0.0000 24.0000 27.0000 13.0000 35.0000 17.0000
3 31.0000 47.0000 36.0000 12.0000 32.0000  3.0000 28.0000 33.0000
4 32.0000 29.0000 49.0000 36.0000  0.0000 39.0000 40.0000 48.0000
5  5.0000 38.0000 22.0000 48.0000 29.0000 23.0000  5.0000 44.0000
6 27.0000 48.0000 13.0000 24.0000  8.0000 39.0000 48.0000 37.0000
7 46.0000 28.0000 36.0000 49.0000 19.0000 36.0000 12.0000 14.0000

### Упражнение № 55

#### Поменяйте местами строки 1 и 2 в `df`.

In [59]:
df = pd.DataFrame(np.arange(25).reshape(5, -1))
df.iloc[[1, 2]] = df.iloc[[2, 1]].values 
print(df)

    0   1   2   3   4
0   0   1   2   3   4
1  10  11  12  13  14
2   5   6   7   8   9
3  15  16  17  18  19
4  20  21  22  23  24

### Упражнение № 56

#### Переверните строки датафрейма `df` (первая строка становится последней).

In [60]:
df = pd.DataFrame(np.arange(25).reshape(5, -1))

print("Исходный вариант")
print(df)
print("\nПеревернутый вариант:")
print(df.iloc[::-1])

Исходный вариант
    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

Перевернутый вариант:
    0   1   2   3   4
4  20  21  22  23  24
3  15  16  17  18  19
2  10  11  12  13  14
1   5   6   7   8   9
0   0   1   2   3   4

### Упражнение № 57

#### Получите бинарный код для столбца `'a'` в датафрейме `df` и добавьте его в виде столбцов.

In [61]:
df = pd.DataFrame(np.arange(25).reshape(5, -1), columns=list('abcde'))
binary_codes = [f'{val:05b}' for val in df['a'].values]

for i in range(5):
    df[f'b{i}'] = [code[i] for code in binary_codes]

df.drop('a', axis=1, inplace=True)
print(df)

    b   c   d   e b0 b1 b2 b3 b4
0   1   2   3   4  0  0  0  0  0
1   6   7   8   9  0  0  1  0  1
2  11  12  13  14  0  1  0  1  0
3  16  17  18  19  0  1  1  1  1
4  21  22  23  24  1  0  1  0  0

### Упражнение № 58

#### Получите название столбца с наибольшим количеством строчных максимумов в `df`.

In [62]:
df = pd.DataFrame(np.random.randint(1, 100, 40).reshape(10, -1))

max_column = df.idxmax(axis=1).value_counts().idxmax()
print(df)
print("\nНазвание столбца:", max_column)

    0   1   2   3
0  76  73  69  36
1  62  67  69   9
2   7  49  47   4
3  48  89   6  87
4  28  44   5  24
5  23  52  26  14
6  14  90  95  47
7  49  75  39  41
8  36   7   3  52
9  77  58  91  34

Название столбца: 1

### Упражнение № 59

#### Создать новый столбец, в каждой строке которого будет указан номер строки, ближайшей по евклидову расстоянию к данной строке.

In [ ]:
from scipy.spatial.distance import cdist

df = pd.DataFrame(np.random.randint(1, 100, 40).reshape(10, -1), columns=list('pqrs'), index=list('abcdefghij'))

distances = cdist(df.to_numpy(), df.to_numpy())

ind = distances.argmin(axis=1)
dist = distances[np.arange(10), ind]

df['nearest_row'] = df.index[ind]
df['dist'] = dist

print(df)

    p   q   r   s nearest_row   dist
a  92   9  40  33           a 0.0000
b  82  55  84  99           b 0.0000
c  28  36  74  41           c 0.0000
d  36  68  83   2           d 0.0000
e  58  49  46  48           e 0.0000
f  77  74  67  71           f 0.0000
g  43  31  91  28           g 0.0000
h  86  89  84  43           h 0.0000
i  28  59  65  32           i 0.0000
j  77  85  54  38           j 0.0000

### Упражнение № 60

#### Вычислите максимально возможное абсолютное значение корреляции каждого столбца с другими столбцами в `df`.

In [64]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1), columns=list('pqrstuvwxy'))
corr_matrix = df.corr().abs()
max_corr = corr_matrix.apply(lambda x: x.nlargest(2).iloc[1])

print(max_corr.max())

0.740517574616604

### Упражнение № 61

#### Вычислите минимум-максимум для каждой строки `df`.

In [65]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))
min_df = df.min(axis=1)
max_df = df.max(axis=1)
print(max_df - min_df)

0    88
1    87
2    59
3    83
4    73
5    92
6    84
7    79
dtype: int32

### Упражнение № 62

#### Создайте новый столбец `penultimate`, который содержит второе по величине значение каждой строки `df`.

In [66]:
df = pd.DataFrame(np.random.randint(1, 100, 80).reshape(8, -1))

df['penultimate'] = df.apply(lambda x: sorted(x)[-2], axis=1)

print(df)

    0   1   2   3   4   5   6   7   8   9  penultimate
0  62  83  85   2  30   5  83  74  50  48           83
1  95  30  57  94  28  99  11  47  66  57           95
2  62   2  74  11  56  65   6  39  61  21           65
3  37  55  76  79  47  57  17  50  78  33           78
4  85  97  42  10  17  32  60   7  91  97           97
5  57  42  81  42  39  67  61  12  63  87           81
6   7  45   3  79  70  73  67  21  92  39           79
7  28  87  70  35  39  14  26  64  28   3           70

### Упражнение № 63

#### 1. Нормализуйте все столбцы `df`, вычитая среднее значение столбца и деля его на стандартное отклонение.
#### 2. Произведите ранжирование всех столбцов `df` таким образом, чтобы минимальное значение в каждом столбце было равно 0, а максимальное — 1.

In [67]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

df_normalized = (df - df.mean()) / df.std()
df_ranked = (df - df.min()) / (df.max() - df.min())

print(df_normalized)
print(df_ranked)

        0       1       2       3       4       5       6       7       8  \
0 -1.4064  1.0126  0.1619  0.6234 -1.0730 -1.2652 -0.5410 -1.3478 -0.9570
1 -0.5089  0.7153  1.0356  1.4189 -0.3283  0.1482  1.4616  0.9125  1.7773
2  0.6771 -0.5481  0.7946 -0.6004 -1.3866  1.0600  0.9125  0.8514 -1.1279
3  1.7029 -0.4738  0.8549 -0.4475  0.0245 -1.0828  0.7510  0.3016 -0.5469
4  0.2284 -1.2170 -1.2541 -1.4265  0.1029  1.2880 -0.8963 -1.3172 -0.7178
5 -1.1179  1.5700 -0.6515  0.3786  1.8668  0.8777  0.2342  0.1794  0.6152
6  0.2925 -0.9940 -1.4951  0.9905  0.3381 -0.7637 -0.4764  1.1263  0.4443
7  0.1322 -0.0650  0.5536 -0.9370  0.4557 -0.2622 -1.4454 -0.7063  0.5127

        9
0 -0.9325
1  0.7930
2 -1.2878
3  0.1840
4 -0.3743
5  1.5035
6  0.8945
7 -0.7803
       0      1      2      3      4      5      6      7      8      9
0 0.0000 0.8000 0.6548 0.7204 0.0964 0.0000 0.3111 0.0000 0.0588 0.1273
1 0.2887 0.6933 1.0000 1.0000 0.3253 0.5536 1.0000 0.9136 1.0000 0.7455
2 0.6701 0.2400 0.9048 0.2903 0.0000 0.9107 0.8111 0.8889 0.0000 0.0000
3 1.0000 0.2667 0.9286 0.3441 0.4337 0.0714 0.7556 0.6667 0.2000 0.5273
4 0.5258 0.0000 0.0952 0.0000 0.4578 1.0000 0.1889 0.0123 0.1412 0.3273
5 0.0928 1.0000 0.3333 0.6344 1.0000 0.8393 0.5778 0.6173 0.6000 1.0000
6 0.5464 0.0800 0.0000 0.8495 0.5301 0.1964 0.3333 1.0000 0.5412 0.7818
7 0.4948 0.4133 0.8095 0.1720 0.5663 0.3929 0.0000 0.2593 0.5647 0.1818

### Упражнение № 64

#### Вычислите корреляцию каждой строки `df` с последующей строкой.

In [68]:
df = pd.DataFrame(np.random.randint(1, 100, 80).reshape(8, -1))
correlation = df.corrwith(df.shift(1), method='pearson')
print(correlation)

0   -0.3499
1    0.2575
2   -0.8908
3    0.1143
4   -0.2999
5    0.0608
6   -0.5157
7    0.0394
8   -0.2101
9    0.2281
dtype: float64

### Упражнение № 65

#### Замените все значения в обеих диагоналях `df` на 0.

In [69]:
df = pd.DataFrame(np.random.randint(1,100, 100).reshape(10, -1))
np.fill_diagonal(df.values, 0)
res = [df.iloc[i].corr(df.iloc[i+1]) for i in range(len(df)-1)]
[print(i) for i in res]

0.12434666582269344
0.27290411129151315
0.2082234481025667
-0.11852766783855033
0.3299962785466044
-0.39340822083557436
-0.6325162878279015
0.21338753806055577
-0.042974150677681955

[None, None, None, None, None, None, None, None, None]

### Упражнение № 66

#### Из `df_grouped` получите в виде датафрейма группу, относящуюся к `apple`.

In [71]:
df = pd.DataFrame({
    'col1': ['apple', 'banana', 'orange'] * 3,
    'col2': np.random.rand(9),
    'col3': np.random.randint(0, 15, 9)
})

df_grouped = df.groupby('col1')
print(df)
print("\nГруппа, которая относится к apple:")
print(df_grouped.get_group('apple'))

     col1   col2  col3
0   apple 0.8072    14
1  banana 0.2304     1
2  orange 0.9427     8
3   apple 0.6388     5
4  banana 0.3050    12
5  orange 0.9370     1
6   apple 0.4636    12
7  banana 0.3428     6
8  orange 0.3668    12

Группа, которая относится к 'apple':
    col1   col2  col3
0  apple 0.8072    14
3  apple 0.6388     5
6  apple 0.4636    12

### Упражнение № 67

#### В `df` найдите второе по величине значение `taste` для `banana`.

In [72]:
df = pd.DataFrame({
    'fruit': ['apple', 'banana', 'orange'] * 3,
    'rating': np.random.rand(9),
    'price': np.random.randint(0, 15, 9)
})

banana_ratings = df[df['fruit'] == 'banana']['rating']
print("Исходный DataFrame:")
print(df)
print("\nВторое по величине значение:")
print(banana_ratings.nlargest(2).iloc[-1])

Исходный DataFrame:
    fruit  rating  price
0   apple  0.0544     12
1  banana  0.7920      8
2  orange  0.2441      7
3   apple  0.3687     11
4  banana  0.0348      1
5  orange  0.1610      6
6   apple  0.1993     14
7  banana  0.4017      0
8  orange  0.3666      1

Второе по величине значение:
0.4017149799372426

### Упражнение № 68

#### В `df` вычислите среднюю цену `Price` каждого фрукта `Fruit`, сохраняя фрукт как еще один столбец вместо индекса.

In [73]:
df = pd.DataFrame({
    'fruit': ['apple', 'banana', 'orange'] * 3,
    'rating': np.random.rand(9),
    'price': np.random.randint(0, 15, 9)
})

print("Исходный DataFrame:")
print(df)
print("\nСредняя цена")
print(df.groupby('fruit', as_index=False)['price'].mean())

Исходный DataFrame:
    fruit  rating  price
0   apple  0.6421      8
1  banana  0.3272     13
2  orange  0.2447      2
3   apple  0.8713      8
4  banana  0.3038     10
5  orange  0.0256      7
6   apple  0.2969     10
7  banana  0.1421      8
8  orange  0.2284      7

Средняя цена
    fruit   price
0   apple  8.6667
1  banana 10.3333
2  orange  5.3333

### Упражнение № 69

#### Объединить датафреймы `df1` и `df2` по признакам `fruit-pazham` и `weight-kilo`.

In [75]:
df1 = pd.DataFrame({
    'fruit': ['apple', 'banana', 'orange'] * 3,
    'weight': ['high', 'medium', 'low'] * 3,
    'price': np.random.randint(0, 15, 9)
})
df2 = pd.DataFrame({
    'pazham': ['apple', 'orange', 'pine'] * 2,
    'kilo': ['high', 'low'] * 3,
    'price': np.random.randint(0, 15, 6)
})

print("df1:")
print(df1)
print("\ndf2:")
print(df2)
print("\nОбъединенный DataFrame:")
print(pd.merge(df1, df2, left_on=['fruit', 'weight'], right_on=['pazham', 'kilo']))

df1:
    fruit  weight  price
0   apple    high     14
1  banana  medium     13
2  orange     low     13
3   apple    high      5
4  banana  medium      7
5  orange     low      3
6   apple    high     12
7  banana  medium      7
8  orange     low      6

df2:
   pazham  kilo  price
0   apple  high      2
1  orange   low     12
2    pine  high     12
3   apple   low      4
4  orange  high      2
5    pine   low      1

Объединенный DataFrame:
    fruit weight  price_x  pazham  kilo  price_y
0   apple   high       14   apple  high        2
1  orange    low       13  orange   low       12
2   apple   high        5   apple  high        2
3  orange    low        3  orange   low       12
4   apple   high       12   apple  high        2
5  orange    low        6  orange   low       12

### Упражнение № 70

#### Создайте в `df` два новых столбца, один из них — `lag1` (сдвиг столбца `a` вниз на 1 строку) столбца 'a', а другой — `lead1` (сдвиг столбца `b` вверх на 1 строку).

In [77]:
df = pd.DataFrame(np.random.randint(1, 100, 20).reshape(-1, 4), columns=list('abcd'))

df['a_lag1'] = df['a'].shift(1)
df['b_lead1'] = df['b'].shift(-1)

print(df)

    a   b   c   d  a_lag1  b_lead1
0   1  70  92  57     NaN  69.0000
1  86  69  61  19  1.0000  18.0000
2  93  18  74  90 86.0000  42.0000
3  78  42  28  95 93.0000  97.0000
4  10  97  23  72 78.0000      NaN

### Упражнение № 71

#### Получите частоты уникальных значений по всему датафрейму `df`.

In [78]:
df = pd.DataFrame(np.random.randint(1, 10, 20).reshape(-1, 4), columns=list('abcd'))

print(df)
print("\nЧастоты уникальных значений:")
print(df.stack().value_counts().sort_index())

   a  b  c  d
0  6  2  5  2
1  5  5  8  5
2  6  6  5  9
3  5  2  8  1
4  2  3  9  8

Частоты уникальных значений:
1    1
2    4
3    1
5    6
6    3
8    3
9    2
Name: count, dtype: int64

### Упражнение № 72

#### Разделите столбец `row` в `df` так, чтобы сформировать датафрейм с 3 столбцами, как показано в примере выходных данных.

In [87]:
df = pd.DataFrame(["STD, City\tState",
                   "33, Kolkata\tWest Bengal",
                   "44, Chennai\tTamil Nadu",
                   "40, Hyderabad\tTelengana",
                   "80, Bangalore\tKarnataka"], 
                  columns=['row'])
print(df)

df = df['row'].iloc[1:].str.split(',|\t', expand=True)
df.columns = ['STD', 'City', 'State']
print("\nРазделённый DataFrame:")
print(df)

                        row
0          STD, City\tState
1  33, Kolkata\tWest Bengal
2   44, Chennai\tTamil Nadu
3  40, Hyderabad\tTelengana
4  80, Bangalore\tKarnataka

Разделённый DataFrame:
  STD        City        State
1  33     Kolkata  West Bengal
2  44     Chennai   Tamil Nadu
3  40   Hyderabad    Telengana
4  80   Bangalore    Karnataka