# Упражнения на работу с pandas

In [243]:
import numpy as np
import pandas as pd
from dateutil.parser import parse
import re

 ### Упражнение № 1
 #### Создайте Series из каждого из элементов: списка, ndarray и словаря.

In [244]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)
ser3 = pd.Series(mydict)
print(ser3.head())

a    0
b    1
c    2
e    3
d    4
dtype: int64

### Упражнение № 2
#### Преобразуйте `ser` в датафрейм с его индексом в качестве еще одного столбца датафрейма.

In [245]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

df = ser.to_frame().reset_index()
print(df.head())

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

### Упражнение № 3
#### Объедините `ser1` и `ser2`, чтобы сформировать датафрейм.

In [246]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)

df = pd.concat([ser1, ser2], axis=1)

df = pd.DataFrame({'col1': ser1, 'col2': ser2})
print(df.head())

  col1  col2
0    a     0
1    b     1
2    c     2
3    e     3
4    d     4

### Упражнение № 4
#### Добавьте имя ряда  `ser`, назвав его `latin_letters`.

In [247]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser.name = 'latin_letters'
ser.head()

0    a
1    b
2    c
3    e
4    d
Name: latin_letters, dtype: object

### Упражнение № 5
#### Из `ser1` удалите элементы, присутствующие в `ser2`.

In [248]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

### Упражнение № 6
#### Получить все элементы `ser1` и `ser2`, которые не являются общими для обоих рядов.

In [249]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

ser_u = pd.Series(np.union1d(ser1, ser2))
ser_i = pd.Series(np.intersect1d(ser1, ser2))

ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

### Упражнение № 7
#### Вычислите минимальное значение, 25-й процентиль, медиану, 75-й процентиль и максимальное значение `ser`.

In [250]:
state = np.random.RandomState(100)

ser = pd.Series(np.random.normal(10, 5, 25))

np.percentile(ser, q=[0, 25, 50, 75, 100])

array([ 0.04050821,  5.42736871, 11.44258922, 12.97158106, 18.31982845])

### Упражнение № 8
#### Вычислите частоту встречаемости каждого уникального значения `ser`.

In [251]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
ser.value_counts(normalize=True)

c   0.2333
e   0.2000
f   0.2000
b   0.1667
g   0.0667
h   0.0667
a   0.0333
d   0.0333
Name: proportion, dtype: float64

### Упражнение № 9
#### Из `ser` оставить 2 наиболее часто встречающихся элемента без изменений, а все остальные заменить на `Прочее`.

In [252]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))

print("Топ 2 freq", ser.value_counts())
ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'
ser

Топ 2 freq 3    4
4    4
1    3
2    1
Name: count, dtype: int64

C:\Users\user\AppData\Local\Temp\ipykernel_16020\2520800037.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Other' has dtype incompatible with int32, please explicitly cast to a compatible dtype first.
  ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'

0         3
1     Other
2         4
3         4
4         4
5         4
6         3
7         3
8     Other
9     Other
10    Other
11        3
dtype: object

### Упражнение № 10
#### Разбейте ряд `ser` на 10 равных децилей и замените значения на название дециля.

In [253]:
ser = pd.Series(np.random.random(20))
print(ser.head())
pd.qcut(ser, 10, 
        labels = [f"Децель_№{i+1}" for i in range(10)]).head()

0   0.4375
1   0.5507
2   0.3031
3   0.2684
4   0.6376
dtype: float64

0    Децель_№4
1    Децель_№6
2    Децель_№3
3    Децель_№2
4    Децель_№7
dtype: category
Categories (10, object): ['Децель_№1' < 'Децель_№2' < 'Децель_№3' < 'Децель_№4' ... 'Децель_№7' < 'Децель_№8' < 'Децель_№9' < 'Децель_№10']

### Упражнение № 11
#### Переформируйте ряд `ser` в датафрейм с 7 строками и 5 столбцами

In [254]:
ser = pd.Series(np.random.randint(1, 10, 35))
df = pd.DataFrame(ser.values.reshape(7,5))
print(df)

   0  1  2  3  4
0  1  6  1  7  8
1  9  8  6  3  3
2  9  9  5  2  3
3  1  8  6  7  5
4  1  1  6  2  3
5  9  2  6  3  8
6  7  1  6  2  4

### Упражнение № 12
#### Найти позиции чисел, кратных 3, из ряда `ser`.

In [255]:
ser = pd.Series(np.random.randint(1, 10, 7))
ser

print(ser)
np.argwhere(ser % 3 == 0)

0    3
1    4
2    3
3    5
4    8
5    7
6    6
dtype: int32

array([[0],
       [2],
       [6]])

### Упражнение № 13
#### Из `ser` извлечь элементы, находящиеся на позициях в списке `pos`.

In [256]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

ser.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

### Упражнение № 14
#### Объедините `ser1` и `ser2` по вертикали и горизонтали (чтобы сформировать датафрейм).

In [257]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

df = pd.concat([ser1, ser2], axis = 1)
print(df)

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

### Упражнение № 15
#### Получите позиции элементов `ser2` в `ser1` в виде списка.

In [258]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

[pd.Index(ser1).get_loc(i) for i in ser2]

[5, 4, 0, 8]

### Упражнение № 16
#### Вычислить среднеквадратическую ошибку рядов `truth` и `pred`.

In [259]:
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

print(np.mean((truth - pred)**2))

0.12869142637253406

### Упражнение № 17
#### В каждом слове `ser` поставьте первый символ каждого слова в верхний регистр.

In [260]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
pd.Series([i.title() for i in ser])

0     How
1      To
2    Kick
3    Ass?
dtype: object

### Упражнение № 18
#### В каждом слове `ser` посчитайте число символов.

In [261]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
ser.map(lambda x:  len(x))

0    3
1    2
2    4
3    4
dtype: int64

### Упражнение № 19
#### Вычислите разность разностей между последовательно идущими числами в `ser`.

In [262]:
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])
print(ser.diff().to_list())
print(ser.diff().diff().to_list())

[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

### Упражнение № 20
#### Преобразуйте строковое представление дат в `datetime64`.

In [263]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', 
                 '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
ser.map(lambda x: parse(x))

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]

### Упражнение № 21
#### Получите из `ser` день месяца, номер недели, день года и день недели.

In [264]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', 
                 '2013/04/04', '2014-05-05', '2015-06-06T12:20'])

ser_dt = ser.map(lambda x: parse(x))

print("Date:", ser_dt.dt.day.tolist())
print("Week number:", ser_dt.dt.isocalendar().week.tolist())
print("Day num of year:", ser_dt.dt.dayofyear.tolist())
print("Day of week:", ser_dt.dt.day_name().tolist())

Date: [1, 2, 3, 4, 5, 6]
Week number: [53, 5, 9, 14, 19, 23]
Day num of year: [1, 33, 63, 94, 125, 157]
Day of week: ['Friday', 'Wednesday', 'Saturday', 'Thursday', 'Monday', 'Saturday']

### Упражнение № 22
#### Замените элементы `ser` на даты, начинающиеся с 4-го числа соответствующего месяца.

In [265]:
ser = pd.Series(['Jan 2010', 'Feb 2011', 'Mar 2012'])

ser.map(lambda x: parse('04 ' + x))

0   2010-01-04
1   2011-02-04
2   2012-03-04
dtype: datetime64[ns]

### Упражнение № 23
#### Из `ser` извлеките слова, содержащие не менее 2 гласных букв.

In [266]:
ser = pd.Series(['Apple', 'Orange', 'Plan', 'Python', 'Money'])
result = ser[ser.str.count(r'[aeiouAEIOU]') >= 2]
print(result)

0     Apple
1    Orange
4     Money
dtype: object

### Упражнение № 24
#### Извлеките корректные адреса электронной почты из ряда `emails`. Шаблон регулярного выражения для корректных адресов электронной почты приведен в качестве образца.

In [267]:
emails = pd.Series(['buying books at amazom.com', 'rameses@egypt.com', 'matt@t.co', 'narendra@modi.com'])
pattern ='[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\\.[A-Za-z]{2,4}'
mask = emails.map(lambda x: bool(re.match(pattern, x)))
print(emails[mask])

1    rameses@egypt.com
2            matt@t.co
3    narendra@modi.com
dtype: object

### Упражнение № 25
#### Вычислить среднее значение веса в `weights` для каждого фрукта из `fruit`.

In [268]:
fruit = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weight = pd.Series(np.linspace(1, 10, 10))
print("Веса:", weight.tolist())
print("Фрукты:", fruit.tolist())

df = pd.DataFrame({'fruit': fruit, 'weight':weight})
print(df.groupby('fruit')['weight'].mean())

Веса: [1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0]
Фрукты: ['carrot', 'apple', 'apple', 'carrot', 'carrot', 'banana', 'banana', 'carrot', 'banana', 'carrot']
fruit
apple    2.5000
banana   7.3333
carrot   5.6000
Name: weight, dtype: float64

### Упражнение № 26
#### Вычислить [евклидово расстояние](https://en.wikipedia.org/wiki/Euclidean_distance) между векторами $p$ и $q$, не используя встроенную формулу.

In [269]:
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])
print(np.sqrt(np.sum((p - q) ** 2)))

18.16590212458495

### Упражнение № 27
#### Получите позиции пиков (значений, окруженных с двух сторон меньшими значениями) в `ser`.

In [270]:
ser = pd.Series([2, 10, 3, 4, 9, 10, 2, 7, 3])
print(ser[(ser > ser.shift(1)) & (ser > ser.shift(-1))].index)

Index([1, 5, 7], dtype='int64')

### Упражнение № 28
#### Замените пробелы в `my_str` на наименее часто встречающийся символ.

In [271]:
my_str = 'dbc deb abed gade'
ser = pd.Series(list(my_str))
counts = ser.value_counts()
my_str = my_str.replace(' ', counts.index[-1])
my_str

'dbcgdebgabedggade'

### Упражнение № 29
#### Создайте временной ряд, начинающийся с `2000-01-01`, содержащий 10 субботних дней после этого и имеющий в качестве значений случайные числа

In [272]:
dates = pd.date_range(start='2000-01-01', periods=10, freq='W-SAT')
value = np.random.randint(1, 10, size=10)
print(pd.Series(data=value, index=dates))

2000-01-01    8
2000-01-08    2
2000-01-15    5
2000-01-22    6
2000-01-29    5
2000-02-05    9
2000-02-12    6
2000-02-19    8
2000-02-26    6
2000-03-04    2
Freq: W-SAT, dtype: int32

### Упражнение № 30
#### В `ser` отсутствуют некоторые даты и значения. Сделайте так, чтобы все отсутствующие даты появились и заполнились значением из предыдущей даты.

In [273]:
ser = pd.Series([1,10,3,np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))
print(ser)

full = pd.date_range(start=ser.index.min(), end=ser.index.max())
print(ser.reindex(full).ffill())

2000-01-01    1.0000
2000-01-03   10.0000
2000-01-06    3.0000
2000-01-08       NaN
dtype: float64
2000-01-01    1.0000
2000-01-02    1.0000
2000-01-03   10.0000
2000-01-04   10.0000
2000-01-05   10.0000
2000-01-06    3.0000
2000-01-07    3.0000
2000-01-08    3.0000
Freq: D, dtype: float64

### Упражнение № 31
#### Вычислите автокорреляции для первых 10 лагов `ser`. Определите, какой из лагов имеет наибольшую корреляцию. (см. также [Модель авторегрессии и распределённого лага — Википедия](https://ru.wikipedia.org/wiki/%D0%9C%D0%BE%D0%B4%D0%B5%D0%BB%D1%8C_%D0%B0%D0%B2%D1%82%D0%BE%D1%80%D0%B5%D0%B3%D1%80%D0%B5%D1%81%D1%81%D0%B8%D0%B8_%D0%B8_%D1%80%D0%B0%D1%81%D0%BF%D1%80%D0%B5%D0%B4%D0%B5%D0%BB%D1%91%D0%BD%D0%BD%D0%BE%D0%B3%D0%BE_%D0%BB%D0%B0%D0%B3%D0%B0))

In [274]:
ser = pd.Series(np.arange(20) + np.random.normal(1, 10, 20))
autocorr = [ser.autocorr(lag=i) for i in range(1, 11)]
print(autocorr)
print("Лаг с наибольшей корреляцией", np.argmax(autocorr))

[np.float64(0.23611808780961815), np.float64(-0.0051295074575874984), np.float64(0.31715812055785964), np.float64(0.04705999825070432), np.float64(0.16115871566752862), np.float64(0.16097681003509115), np.float64(-0.14069893385330648), np.float64(-0.06778782583677904), np.float64(-0.11527934034324548), np.float64(-0.38714752294714305)]
Лаг с наибольшей корреляцией 2

### Упражнение № 32
#### Импортируйте каждую 50-ю строку набора данных [BostonHousing dataset](https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv) в виде датафрейма.

In [275]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', skiprows=lambda x: x % 50 != 0 and x != 0)
print(df)

    crim  zn   indus  chas    nox     rm     age    dis  rad  tax  ptratio  \
0 0.2198   0  6.9100     0 0.4480 5.6020 62.0000 6.0877    3  233  17.9000
1 0.0686   0  2.8900     0 0.4450 7.4160 62.5000 3.4952    2  276  18.0000
2 2.7340   0 19.5800     0 0.8710 5.5970 94.9000 1.5257    5  403  14.7000
3 0.0315  95  1.4700     0 0.4030 6.9750 15.3000 7.6534    3  402  17.0000
4 0.1907  22  5.8600     0 0.4310 6.7180 17.5000 7.8265    7  330  19.1000
5 0.0556  70  2.2400     0 0.4000 7.0410 10.0000 7.8278    5  358  14.8000
6 0.0290  40  1.2500     0 0.4290 6.9390 34.5000 8.7921    1  335  19.7000
7 9.9166   0 18.1000     0 0.6930 5.8520 77.8000 1.5004   24  666  20.2000
8 7.5260   0 18.1000     0 0.7130 6.4170 98.3000 2.1850   24  666  20.2000
9 0.1778   0  9.6900     0 0.5850 5.5690 73.5000 2.3999    6  391  19.2000

         b   lstat    medv
0 396.9000 16.2000 19.4000
1 396.9000  6.1900 33.2000
2 351.8500 21.4500 15.4000
3 396.9000  4.5600 34.9000
4 393.7400  6.5600 26.2000
5 371.5800  4.7400 29.0000
6 389.8500  5.8900 26.6000
7 338.1600 29.9700  6.3000
8 304.2100 19.3100 13.0000
9 395.7700 15.1000 17.5000

### Упражнение № 33
#### Импортируйте набор данных [boston housing dataset](https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv), но при импорте измените столбец `'medv'` (*median house value*) так, чтобы значения < 25 стали `Low`, а > 25 - `High`.

In [276]:
df = pd.read_csv("https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv")

df['medv'] = df['medv'].apply(lambda x: 'Low' if x < 25 else 'High')
print(df)

      crim      zn   indus  chas    nox     rm     age    dis  rad  tax  \
0   0.0063 18.0000  2.3100     0 0.5380 6.5750 65.2000 4.0900    1  296
1   0.0273  0.0000  7.0700     0 0.4690 6.4210 78.9000 4.9671    2  242
2   0.0273  0.0000  7.0700     0 0.4690 7.1850 61.1000 4.9671    2  242
3   0.0324  0.0000  2.1800     0 0.4580 6.9980 45.8000 6.0622    3  222
4   0.0691  0.0000  2.1800     0 0.4580 7.1470 54.2000 6.0622    3  222
..     ...     ...     ...   ...    ...    ...     ...    ...  ...  ...
501 0.0626  0.0000 11.9300     0 0.5730 6.5930 69.1000 2.4786    1  273
502 0.0453  0.0000 11.9300     0 0.5730 6.1200 76.7000 2.2875    1  273
503 0.0608  0.0000 11.9300     0 0.5730 6.9760 91.0000 2.1675    1  273
504 0.1096  0.0000 11.9300     0 0.5730 6.7940 89.3000 2.3889    1  273
505 0.0474  0.0000 11.9300     0 0.5730 6.0300 80.8000 2.5050    1  273

     ptratio        b  lstat  medv
0    15.3000 396.9000 4.9800   Low
1    17.8000 396.9000 9.1400   Low
2    17.8000 392.8300 4.0300  High
3    18.7000 394.6300 2.9400  High
4    18.7000 396.9000 5.3300  High
..       ...      ...    ...   ...
501  21.0000 391.9900 9.6700   Low
502  21.0000 396.9000 9.0800   Low
503  21.0000 396.9000 5.6400   Low
504  21.0000 393.4500 6.4800   Low
505  21.0000 396.9000 7.8800   Low

[506 rows x 14 columns]

### Упражнение № 34
#### Создайте датафрейм со строками в виде шагов (интервалов) заданного ряда

In [277]:
L = pd.Series(range(15))
result = np.array([L[i:i + 4].values for i in range(0, len(L) - 4 + 1, 2)])
print(result)

[[ 0  1  2  3]
 [ 2  3  4  5]
 [ 4  5  6  7]
 [ 6  7  8  9]
 [ 8  9 10 11]
 [10 11 12 13]]

### Упражнение № 35
#### Импортируйте столбцы 'crim' и 'medv' из набора данных [BostonHousing dataset](https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv) в виде датафрейма.

In [278]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv',
                 usecols=['crim', 'medv'])
print(df.head())

    crim    medv
0 0.0063 24.0000
1 0.0273 21.6000
2 0.0273 34.7000
3 0.0324 33.4000
4 0.0691 36.2000

### Упражнение № 36
#### Получите количество строк, столбцов, тип данных и суммарную статистику каждого столбца набора данных [Cars93](https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv). Также получите эквивалент датафрейма в виде numpy-массива и списка.

In [279]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

print(f"Строк {df.shape[0]},  Столбцов {df.shape[1]}")
print("\nТипы данных столбцов:")
print(df.dtypes)
print("\nСуммарная статистика:")
print(df.describe())
print('\nЭквивалент DataFrame в виде numpy-массива:')
print(df.to_numpy().tolist())
print('\nЭквивалент DataFrame в виде списка:')
print(df.values.tolist())

Строк 93,  Столбцов 27

Типы данных столбцов:
Manufacturer           object
Model                  object
Type                   object
Min.Price             float64
Price                 float64
Max.Price             float64
MPG.city              float64
MPG.highway           float64
AirBags                object
DriveTrain             object
Cylinders              object
EngineSize            float64
Horsepower            float64
RPM                   float64
Rev.per.mile          float64
Man.trans.avail        object
Fuel.tank.capacity    float64
Passengers            float64
Length                float64
Wheelbase             float64
Width                 float64
Turn.circle           float64
Rear.seat.room        float64
Luggage.room          float64
Weight                float64
Origin                 object
Make                   object
dtype: object

Суммарная статистика:
       Min.Price   Price  Max.Price  MPG.city  MPG.highway  EngineSize  \
count    86.0000 91.0000    88.0000   84.0000      91.0000     91.0000
mean     17.1186 19.6165    21.4591   22.4048      29.0659      2.6582
std       8.8283  9.7243    10.6966    5.8415       5.3703      1.0458
min       6.7000  7.4000     7.9000   15.0000      20.0000      1.0000
25%      10.8250 12.3500    14.5750   18.0000      26.0000      1.8000
50%      14.6000 17.7000    19.1500   21.0000      28.0000      2.3000
75%      20.2500 23.5000    24.8250   25.0000      31.0000      3.2500
max      45.4000 61.9000    80.0000   46.0000      50.0000      5.7000

       Horsepower       RPM  Rev.per.mile  Fuel.tank.capacity  Passengers  \
count     86.0000   90.0000       87.0000             85.0000     91.0000
mean     144.0000 5276.6667     2355.0000             16.6835      5.0769
std       53.4552  605.5548      486.9166              3.3757      1.0460
min       55.0000 3800.0000     1320.0000              9.2000      2.0000
25%      100.7500 4800.0000     2017.5000             14.5000      4.0000
50%      140.0000 5200.0000     2360.0000             16.5000      5.0000
75%      170.0000 5787.5000     2565.0000             19.0000      6.0000
max      300.0000 6500.0000     3755.0000             27.0000      8.0000

        Length  Wheelbase   Width  Turn.circle  Rear.seat.room  Luggage.room  \
count  89.0000    92.0000 87.0000      88.0000         89.0000       74.0000
mean  182.8652   103.9565 69.4483      38.9545         27.8539       13.9865
std    14.7927     6.8563  3.7780       3.3042          3.0181        3.1208
min   141.0000    90.0000 60.0000      32.0000         19.0000        6.0000
25%   174.0000    98.0000 67.0000      36.0000         26.0000       12.0000
50%   181.0000   103.0000 69.0000      39.0000         27.5000       14.0000
75%   192.0000   110.0000 72.0000      42.0000         30.0000       16.0000
max   219.0000   119.0000 78.0000      45.0000         36.0000       22.0000

         Weight
count   86.0000
mean  3104.5930
std    600.1300
min   1695.0000
25%   2647.5000
50%   3085.0000
75%   3567.5000
max   4105.0000

Эквивалент DataFrame в виде numpy-массива:

### Упражнение № 37
#### Извлеките номер строки и столбца конкретной ячейки по заданному критерию.
#### *Какой производитель, модель и тип имеет наибольшую цену в `Price`? Каков номер строки и столбца ячейки с наибольшим значением `Price`?*

In [280]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
max_price = df['Price'].max()

rows_with_max_price = df[df['Price'] == max_price]

manufacturer = rows_with_max_price['Manufacturer'].values[0]
model = rows_with_max_price['Model'].values[0]
type_car = rows_with_max_price['Type'].values[0]

index = rows_with_max_price.index.values[0]
column_name = 'Price'
column_number = list(df.columns).index(column_name)

print(f"Производитель: {manufacturer}")
print(f"Модель: {model}")
print(f"Тип: {type_car}")
print(f"Максимальная цена: {max_price}")
print(f"Номер строки: {index}")
print(f"Номер столбца: {column_number}")

Производитель: Mercedes-Benz
Модель: 300E
Тип: Midsize
Максимальная цена: 61.9
Номер строки: 58
Номер столбца: 4

### Упражнение № 38

#### Переименуйте в `df` столбец `Type` в `CarType` и замените `.` в именах столбцов на `_`.

In [281]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

df.rename(columns={'Type': 'CarType'}, inplace=True)
df.columns = df.columns.str.replace('.', '_')
print(df.columns)

Index(['Manufacturer', 'Model', 'CarType', 'Min_Price', 'Price', 'Max_Price',
       'MPG_city', 'MPG_highway', 'AirBags', 'DriveTrain', 'Cylinders',
       'EngineSize', 'Horsepower', 'RPM', 'Rev_per_mile', 'Man_trans_avail',
       'Fuel_tank_capacity', 'Passengers', 'Length', 'Wheelbase', 'Width',
       'Turn_circle', 'Rear_seat_room', 'Luggage_room', 'Weight', 'Origin',
       'Make'],
      dtype='object')

### Упражнение № 39

#### Проверьте, нет ли в `df` отсутствующих значений.

In [282]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
if(df.isna().any().any()):
    print("ЕСТЬ отсутствующие значения")
else:
    print("НЕТ отсутствующих значений")

ЕСТЬ отсутствующие значения

### Упражнение № 40

#### Подсчитайте количество пропущенных значений в каждом столбце `df`. Какой столбец имеет наибольшее число пропущенных значений?

In [283]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

missing_values_count = df.isna().sum()

most_missing_column = missing_values_count.idxmax()
most_missing_value_count = missing_values_count.max()

print(f"Столбец с наибольшим количеством пропущенных значений: {most_missing_column}")
print(f"Количество пропущенных значений: {most_missing_value_count}")

Столбец с наибольшим количеством пропущенных значений: AirBags
Количество пропущенных значений: 38

### Упражнение № 41

#### Замените отсутствующие значения в столбцах `Min.Price` и `Max.Price` на соответствующие им средние значения.

In [284]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
df['Min.Price'] = df['Min.Price'].fillna(df['Min.Price'].mean())
df['Max.Price'] = df['Max.Price'].fillna(df['Max.Price'].mean())
print(df)

   Manufacturer    Model     Type  Min.Price   Price  Max.Price  MPG.city  \
0         Acura  Integra    Small    12.9000 15.9000    18.8000   25.0000
1           NaN   Legend  Midsize    29.2000 33.9000    38.7000   18.0000
2          Audi       90  Compact    25.9000 29.1000    32.3000   20.0000
3          Audi      100  Midsize    17.1186 37.7000    44.6000   19.0000
4           BMW     535i  Midsize    17.1186 30.0000    21.4591   22.0000
..          ...      ...      ...        ...     ...        ...       ...
88   Volkswagen  Eurovan      Van    16.6000 19.7000    22.7000   17.0000
89   Volkswagen   Passat  Compact    17.6000 20.0000    22.4000   21.0000
90   Volkswagen  Corrado   Sporty    22.9000 23.3000    23.7000   18.0000
91        Volvo      240  Compact    21.8000 22.7000    23.5000   21.0000
92          NaN      850  Midsize    24.8000 26.7000    28.5000   20.0000

    MPG.highway             AirBags DriveTrain  ... Passengers   Length  \
0       31.0000                 NaN      Front  ...     5.0000 177.0000
1       25.0000  Driver & Passenger      Front  ...     5.0000 195.0000
2       26.0000         Driver only      Front  ...     5.0000 180.0000
3       26.0000  Driver & Passenger        NaN  ...     6.0000 193.0000
4       30.0000                 NaN       Rear  ...     4.0000 186.0000
..          ...                 ...        ...  ...        ...      ...
88      21.0000                 NaN      Front  ...     7.0000 187.0000
89      30.0000                 NaN      Front  ...     5.0000 180.0000
90      25.0000                 NaN      Front  ...     4.0000 159.0000
91      28.0000         Driver only       Rear  ...     5.0000 190.0000
92      28.0000  Driver & Passenger      Front  ...     5.0000 184.0000

    Wheelbase   Width  Turn.circle Rear.seat.room  Luggage.room    Weight  \
0    102.0000 68.0000      37.0000        26.5000           NaN 2705.0000
1    115.0000 71.0000      38.0000        30.0000       15.0000 3560.0000
2    102.0000 67.0000      37.0000        28.0000       14.0000 3375.0000
3    106.0000     NaN      37.0000        31.0000       17.0000 3405.0000
4    109.0000 69.0000      39.0000        27.0000       13.0000 3640.0000
..        ...     ...          ...            ...           ...       ...
88   115.0000 72.0000      38.0000        34.0000           NaN 3960.0000
89   103.0000 67.0000      35.0000        31.5000       14.0000 2985.0000
90    97.0000 66.0000      36.0000        26.0000       15.0000 2810.0000
91   104.0000 67.0000      37.0000        29.5000       14.0000 2985.0000
92   105.0000 69.0000      38.0000        30.0000       15.0000 3245.0000

     Origin                Make
0   non-USA       Acura Integra
1   non-USA        Acura Legend
2   non-USA             Audi 90
3   non-USA            Audi 100
4   non-USA            BMW 535i
..      ...                 ...
88      NaN  Volkswagen Eurovan
89  non-USA   Volkswagen Passat
90  non-USA  Volkswagen Corrado
91  non-USA           Volvo 240
92  non-USA           Volvo 850

[93 rows x 27 columns]

### Упражнение № 42

#### В `df` с помощью метода `apply` замените недостающие значения в `Min.Price` на среднее значение столбца, а в `Max.Price` — на медиану столбца.

In [285]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

df['Min.Price'] = df['Min.Price'].fillna(df['Min.Price'].mean())
df['Max.Price'] = df['Max.Price'].fillna(df['Max.Price'].median())

print(df)

   Manufacturer    Model     Type  Min.Price   Price  Max.Price  MPG.city  \
0         Acura  Integra    Small    12.9000 15.9000    18.8000   25.0000
1           NaN   Legend  Midsize    29.2000 33.9000    38.7000   18.0000
2          Audi       90  Compact    25.9000 29.1000    32.3000   20.0000
3          Audi      100  Midsize    17.1186 37.7000    44.6000   19.0000
4           BMW     535i  Midsize    17.1186 30.0000    19.1500   22.0000
..          ...      ...      ...        ...     ...        ...       ...
88   Volkswagen  Eurovan      Van    16.6000 19.7000    22.7000   17.0000
89   Volkswagen   Passat  Compact    17.6000 20.0000    22.4000   21.0000
90   Volkswagen  Corrado   Sporty    22.9000 23.3000    23.7000   18.0000
91        Volvo      240  Compact    21.8000 22.7000    23.5000   21.0000
92          NaN      850  Midsize    24.8000 26.7000    28.5000   20.0000

    MPG.highway             AirBags DriveTrain  ... Passengers   Length  \
0       31.0000                 NaN      Front  ...     5.0000 177.0000
1       25.0000  Driver & Passenger      Front  ...     5.0000 195.0000
2       26.0000         Driver only      Front  ...     5.0000 180.0000
3       26.0000  Driver & Passenger        NaN  ...     6.0000 193.0000
4       30.0000                 NaN       Rear  ...     4.0000 186.0000
..          ...                 ...        ...  ...        ...      ...
88      21.0000                 NaN      Front  ...     7.0000 187.0000
89      30.0000                 NaN      Front  ...     5.0000 180.0000
90      25.0000                 NaN      Front  ...     4.0000 159.0000
91      28.0000         Driver only       Rear  ...     5.0000 190.0000
92      28.0000  Driver & Passenger      Front  ...     5.0000 184.0000

    Wheelbase   Width  Turn.circle Rear.seat.room  Luggage.room    Weight  \
0    102.0000 68.0000      37.0000        26.5000           NaN 2705.0000
1    115.0000 71.0000      38.0000        30.0000       15.0000 3560.0000
2    102.0000 67.0000      37.0000        28.0000       14.0000 3375.0000
3    106.0000     NaN      37.0000        31.0000       17.0000 3405.0000
4    109.0000 69.0000      39.0000        27.0000       13.0000 3640.0000
..        ...     ...          ...            ...           ...       ...
88   115.0000 72.0000      38.0000        34.0000           NaN 3960.0000
89   103.0000 67.0000      35.0000        31.5000       14.0000 2985.0000
90    97.0000 66.0000      36.0000        26.0000       15.0000 2810.0000
91   104.0000 67.0000      37.0000        29.5000       14.0000 2985.0000
92   105.0000 69.0000      38.0000        30.0000       15.0000 3245.0000

     Origin                Make
0   non-USA       Acura Integra
1   non-USA        Acura Legend
2   non-USA             Audi 90
3   non-USA            Audi 100
4   non-USA            BMW 535i
..      ...                 ...
88      NaN  Volkswagen Eurovan
89  non-USA   Volkswagen Passat
90  non-USA  Volkswagen Corrado
91  non-USA           Volvo 240
92  non-USA           Volvo 850

[93 rows x 27 columns]

### Упражнение № 43

#### Получите первый столбец (`a`) в `df` в виде датафрейма (а не в виде ряда).

In [286]:
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

print(df[['a']])

    a
0   0
1   5
2  10
3  15

### Упражнение № 44

#### 1. В `df` поменяйте местами столбцы `'a'` и `'c'`.
#### 2. Создайте обобщенную функцию для обмена данными между двумя столбцами без фиксированного задания имен столбцов.
#### 3. Отсортируйте столбцы в обратном алфавитном порядке, т.е. от столбца `'e'` до столбца `'a'`.

In [287]:
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))

columns = list(df.columns)
columns[0], columns[2] = columns[2], columns[0]
df = df[columns]

def swap(df, col1, col2):
    cols = list(df.columns)
    idx1 = cols.index(col1)
    idx2 = cols.index(col2)
    cols[idx1], cols[idx2] = cols[idx2], cols[idx1]
    return df[cols]

swapped_df = swap(df, 'a', 'd')
print(swapped_df)

sorted_columns = sorted(list(df.columns), reverse=True)
sorted_df = df[sorted_columns]
print(sorted_df)

    c   b   d   a   e
0   2   1   3   0   4
1   7   6   8   5   9
2  12  11  13  10  14
3  17  16  18  15  19
    e   d   c   b   a
0   4   3   2   1   0
1   9   8   7   6   5
2  14  13  12  11  10
3  19  18  17  16  15

### Упражнение № 45

#### Измените настройки отображения `pandas` при выводе на печать датафрейма `df`, чтобы он показывал максимум 10 строк и 10 столбцов.

In [288]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
print(df.iloc[:10, :10])

  Manufacturer       Model     Type  Min.Price   Price  Max.Price  MPG.city  \
0        Acura     Integra    Small    12.9000 15.9000    18.8000   25.0000
1          NaN      Legend  Midsize    29.2000 33.9000    38.7000   18.0000
2         Audi          90  Compact    25.9000 29.1000    32.3000   20.0000
3         Audi         100  Midsize        NaN 37.7000    44.6000   19.0000
4          BMW        535i  Midsize        NaN 30.0000        NaN   22.0000
5        Buick     Century  Midsize    14.2000 15.7000    17.3000   22.0000
6        Buick     LeSabre    Large    19.9000 20.8000        NaN   19.0000
7        Buick  Roadmaster    Large    22.6000 23.7000    24.9000   16.0000
8        Buick     Riviera  Midsize    26.3000 26.3000    26.3000   19.0000
9     Cadillac     DeVille    Large    33.0000 34.7000    36.3000   16.0000

   MPG.highway             AirBags DriveTrain
0      31.0000                 NaN      Front
1      25.0000  Driver & Passenger      Front
2      26.0000         Driver only      Front
3      26.0000  Driver & Passenger        NaN
4      30.0000                 NaN       Rear
5      31.0000         Driver only        NaN
6      28.0000         Driver only      Front
7      25.0000         Driver only       Rear
8      27.0000         Driver only      Front
9      25.0000         Driver only      Front

### Упражнение № 46

#### Исключите вывод научной нотации типа 'e-03' в `df` и выведите до 4 чисел после запятой.

In [289]:
df = pd.DataFrame(np.random.random(4)**10, columns=['random'])
pd.set_option('display.float_format', '{:.4f}'.format)
print(df)

   random
0  0.0166
1  0.2522
2  0.0000
3  0.7358

### Упражнение № 47

#### Отформатируйте значения в столбце `'random'` из `df` в виде процентов.

In [290]:
df = pd.DataFrame(np.random.random(4), columns=['random'])
df['random'] = df['random'].apply(lambda x: f'{x:.2%}')
print(df)

   random
0   9.97%
1  33.14%
2  50.82%
3  40.12%

### Упражнение № 48

#### Из `df` отфильтруйте значения `Manufacturer`, `Model` и `Type` для каждой 20-й строки, начиная с 1-й (строка 0).

In [291]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')

filtered_rows = df.iloc[::20, :][['Manufacturer', 'Model', 'Type']]
print(filtered_rows)

   Manufacturer    Model     Type
0         Acura  Integra    Small
20     Chrysler  LeBaron  Compact
40        Honda  Prelude   Sporty
60      Mercury   Cougar  Midsize
80       Subaru   Loyale    Small

### Упражнение № 49

#### В `df` замените `NaN` на `missing` в столбцах `Manufacturer`, `Model` и `Type` , создайте индекс как комбинацию этих трех столбцов и проверьте, является ли этот индекс первичным ключом.

In [292]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv', usecols=[0,1,2,3,5])

df[['Manufacturer', 'Model', 'Type']] = df[['Manufacturer', 'Model', 'Type']].fillna('missing')
df['Index'] = df['Manufacturer'] + ' ' + df['Model'] + ' ' + df['Type']
df.set_index('Index', inplace=True)
print(df)
print(f"Индекс является первичным ключом: {df.index.is_unique}")

                          Manufacturer    Model     Type  Min.Price  Max.Price
Index
Acura Integra Small              Acura  Integra    Small    12.9000    18.8000
missing Legend Midsize         missing   Legend  Midsize    29.2000    38.7000
Audi 90 Compact                   Audi       90  Compact    25.9000    32.3000
Audi 100 Midsize                  Audi      100  Midsize        NaN    44.6000
BMW 535i Midsize                   BMW     535i  Midsize        NaN        NaN
...                                ...      ...      ...        ...        ...
Volkswagen Eurovan Van      Volkswagen  Eurovan      Van    16.6000    22.7000
Volkswagen Passat Compact   Volkswagen   Passat  Compact    17.6000    22.4000
Volkswagen Corrado Sporty   Volkswagen  Corrado   Sporty    22.9000    23.7000
Volvo 240 Compact                Volvo      240  Compact    21.8000    23.5000
missing 850 Midsize            missing      850  Midsize    24.8000    28.5000

[93 rows x 5 columns]
Индекс является первичным ключом: True

### Упражнение № 50

#### Найти положение строки с 5-м наибольшим значением столбца `'a'` в `df`.

In [293]:
df = pd.DataFrame(np.random.randint(1, 30, 30).reshape(10,-1), columns=list('abc'))

fifth_largest = df['a'].sort_values(ascending=False).index[4]
print(fifth_largest)

2

### Упражнение № 51

#### В `ser` найдите положение 2-го наибольшего значения, превышающего среднее.

In [294]:
ser = pd.Series(np.random.randint(1, 100, 15))
mean_value = ser.mean()
second_largest = ser[ser > mean_value].nlargest(2).index[-1]
print(second_largest)

12

### Упражнение № 52

#### Получите две последние строки `df`, сумма строк которых больше 100.

In [295]:
df = pd.DataFrame(np.random.randint(10, 40, 60).reshape(-1, 4))
sum = df[df.sum(axis=1) > 100].tail(2)

print(sum)

     0   1   2   3
9   32  31  36  28
11  31  27  14  39

### Упражнение № 53

#### Замените все значения `ser`, находящиеся ниже 5%-ного и выше 95%-ного перцентиля, на соответствующие значения 5-го и 95-го перцентиля.

In [296]:
ser = pd.Series(np.logspace(-2, 2, 30))

percentiles = ser.quantile([0.05, 0.95])
lower = percentiles[0.05]
upper = percentiles[0.95]

ser.clip(lower=lower, upper=upper, inplace=True)

print(ser)

0     0.0160
1     0.0160
2     0.0189
3     0.0259
4     0.0356
5     0.0489
6     0.0672
7     0.0924
8     0.1269
9     0.1743
10    0.2395
11    0.3290
12    0.4520
13    0.6210
14    0.8532
15    1.1721
16    1.6103
17    2.2122
18    3.0392
19    4.1753
20    5.7362
21    7.8805
22   10.8264
23   14.8735
24   20.4336
25   28.0722
26   38.5662
27   52.9832
28   63.8767
29   63.8767
dtype: float64

### Упражнение № 54

#### Перестройте `df` в максимально возможный квадрат с удалением отрицательных значений. При необходимости отбросьте наименьшие значения. Порядок положительных чисел в результате должен остаться тем же, что и в исходном варианте.

In [297]:
df = pd.DataFrame(np.random.randint(-20, 50, 100).reshape(10, -1))

positive = df.where(df >= 0).stack().reset_index(drop=True)
size = int(np.floor(np.sqrt(len(positive))))
square_df = positive[:size**2].to_numpy().reshape(size, size)
final_df = pd.DataFrame(square_df)

print(final_df)

        0       1       2       3       4       5       6       7
0  9.0000 38.0000 23.0000  9.0000 34.0000 44.0000 27.0000 43.0000
1 45.0000 24.0000 30.0000 21.0000 21.0000 33.0000  1.0000 12.0000
2 41.0000 47.0000 21.0000 40.0000 39.0000 35.0000 31.0000 32.0000
3 41.0000 28.0000 11.0000 35.0000  4.0000  7.0000  4.0000 16.0000
4  7.0000 47.0000 29.0000 31.0000  2.0000 26.0000 33.0000 23.0000
5 18.0000  7.0000 14.0000 45.0000 31.0000 49.0000 24.0000  3.0000
6 43.0000  9.0000 38.0000 20.0000  5.0000 19.0000 19.0000  4.0000
7 42.0000 46.0000 39.0000 13.0000 46.0000 29.0000 28.0000 49.0000

### Упражнение № 55

#### Поменяйте местами строки 1 и 2 в `df`.

In [298]:
df = pd.DataFrame(np.arange(25).reshape(5, -1))
df.iloc[[1, 2]] = df.iloc[[2, 1]].values 
print(df)

    0   1   2   3   4
0   0   1   2   3   4
1  10  11  12  13  14
2   5   6   7   8   9
3  15  16  17  18  19
4  20  21  22  23  24

### Упражнение № 56

#### Переверните строки датафрейма `df` (первая строка становится последней).

In [299]:
df = pd.DataFrame(np.arange(25).reshape(5, -1))

print("Исходный вариант")
print(df)
print("\nПеревернутый вариант:")
print(df.iloc[::-1])

Исходный вариант
    0   1   2   3   4
0   0   1   2   3   4
1   5   6   7   8   9
2  10  11  12  13  14
3  15  16  17  18  19
4  20  21  22  23  24

Перевернутый вариант:
    0   1   2   3   4
4  20  21  22  23  24
3  15  16  17  18  19
2  10  11  12  13  14
1   5   6   7   8   9
0   0   1   2   3   4

### Упражнение № 57

#### Получите бинарный код для столбца `'a'` в датафрейме `df` и добавьте его в виде столбцов.

In [300]:
df = pd.DataFrame(np.arange(25).reshape(5, -1), columns=list('abcde'))
binary_codes = [f'{val:05b}' for val in df['a'].values]

for i in range(5):
    df[f'b{i}'] = [code[i] for code in binary_codes]

df.drop('a', axis=1, inplace=True)
print(df)

    b   c   d   e b0 b1 b2 b3 b4
0   1   2   3   4  0  0  0  0  0
1   6   7   8   9  0  0  1  0  1
2  11  12  13  14  0  1  0  1  0
3  16  17  18  19  0  1  1  1  1
4  21  22  23  24  1  0  1  0  0

### Упражнение № 58

#### Получите название столбца с наибольшим количеством строчных максимумов в `df`.

In [301]:
df = pd.DataFrame(np.random.randint(1, 100, 40).reshape(10, -1))

max_column = df.idxmax(axis=1).value_counts().idxmax()
print(df)
print("\nНазвание столбца:", max_column)

    0   1   2   3
0  44  80  18  59
1   6   2  85  75
2  87  51  90  90
3  55  21  26  13
4  42  33  59  16
5  84  81  25  45
6  47  39  28  10
7  76  44  58  45
8  38  81  86  41
9  58  67  70  18

Название столбца: 2

### Упражнение № 59

#### Создать новый столбец, в каждой строке которого будет указан номер строки, ближайшей по евклидову расстоянию к данной строке.

In [302]:
from scipy.spatial.distance import cdist

df = pd.DataFrame(np.random.randint(1, 100, 40).reshape(10, -1), columns=list('pqrs'), index=list('abcdefghij'))

distances = cdist(df.to_numpy(), df.to_numpy())

ind = distances.argmin(axis=1)
dist = distances[np.arange(10), ind]

df['nearest_row'] = df.index[ind]
df['dist'] = dist

print(df)

    p   q   r   s nearest_row   dist
a  69   3  91  67           a 0.0000
b  16  58  63  89           b 0.0000
c   9  99  86  17           c 0.0000
d  92  69  98  11           d 0.0000
e  27  48  85  83           e 0.0000
f  47  47  46  54           f 0.0000
g  13  59  13  12           g 0.0000
h  48  79  72  52           h 0.0000
i   7  69  52  90           i 0.0000
j  34  96  64  36           j 0.0000

### Упражнение № 60

#### Вычислите максимально возможное абсолютное значение корреляции каждого столбца с другими столбцами в `df`.

In [303]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1), columns=list('pqrstuvwxy'))
corr_matrix = df.corr().abs()
max_corr = corr_matrix.apply(lambda x: x.nlargest(2).iloc[1])

print(max_corr.max())

0.7161375896298653

### Упражнение № 61

#### Вычислите минимум-максимум для каждой строки `df`.

In [304]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))
min_df = df.min(axis=1)
max_df = df.max(axis=1)
print(max_df - min_df)

0    84
1    79
2    92
3    95
4    88
5    94
6    83
7    47
dtype: int32

### Упражнение № 62

#### Создайте новый столбец `penultimate`, который содержит второе по величине значение каждой строки `df`.

In [305]:
df = pd.DataFrame(np.random.randint(1, 100, 80).reshape(8, -1))

df['penultimate'] = df.apply(lambda x: sorted(x)[-2], axis=1)

print(df)

    0   1   2   3   4   5   6   7   8   9  penultimate
0  96  53  10  66   8  60  44  74  65  65           74
1  21  32   8  66  88  99  35  42  95  13           95
2  63  77  60  11  70  65  75  52  71  78           77
3  83  70  83  32  84  98  65  74  15  44           84
4  31   9  51  45  83  71  94  77  63  82           83
5  57  70  44  79   3   1  82  48   8  54           79
6  13  39  22  40  76  50  76  30  90  63           76
7  19  21  63  44  89  21  13   5  52  45           63

### Упражнение № 63

#### 1. Нормализуйте все столбцы `df`, вычитая среднее значение столбца и деля его на стандартное отклонение.
#### 2. Произведите ранжирование всех столбцов `df` таким образом, чтобы минимальное значение в каждом столбце было равно 0, а максимальное — 1.

In [306]:
df = pd.DataFrame(np.random.randint(1,100, 80).reshape(8, -1))

df_normalized = (df - df.mean()) / df.std()
df_ranked = (df - df.min()) / (df.max() - df.min())

print(df_normalized)
print(df_ranked)

        0       1       2       3       4       5       6       7       8  \
0  0.7341  0.7564 -1.1240  1.8653 -1.0319 -1.9772 -0.2915  0.8154 -0.0606
1  0.8599 -0.6216  0.7931 -0.1958  1.0068  0.9345 -0.5565 -0.2771  1.1934
2  0.2307  0.0374  0.8844  0.4225  0.4721  0.1475  1.4045 -0.6627  0.1104
3 -1.3214  0.4569 -0.2567 -1.1851  0.7060  0.6591  1.3515  0.1084 -1.2860
4 -0.7760  0.9362 -1.6717  0.3401 -1.4664 -0.9148  0.1855 -1.0804 -1.3715
5 -0.6502  1.0560  0.0628 -0.1546  1.0737  0.9345  0.1855  1.0403 -0.2600
6  1.5731 -0.8613  1.2039  0.2164 -0.9316 -0.0098 -1.4045 -1.3054  0.3099
7 -0.6502 -1.7600  0.1084 -1.3088  0.1713  0.2262 -0.8745  1.3616  1.3644

        9
0  0.0516
1 -0.3295
2  0.6550
3 -1.1235
4  1.3855
5 -1.0600
6 -0.8059
7  1.2267
       0      1      2      3      4      5      6      7      8      9
0 0.7101 0.8936 0.1905 1.0000 0.1711 0.0000 0.3962 0.7952 0.4792 0.4684
1 0.7536 0.4043 0.8571 0.3506 0.9737 1.0000 0.3019 0.3855 0.9375 0.3165
2 0.5362 0.6383 0.8889 0.5455 0.7632 0.7297 1.0000 0.2410 0.5417 0.7089
3 0.0000 0.7872 0.4921 0.0390 0.8553 0.9054 0.9811 0.5301 0.0312 0.0000
4 0.1884 0.9574 0.0000 0.5195 0.0000 0.3649 0.5660 0.0843 0.0000 1.0000
5 0.2319 1.0000 0.6032 0.3636 1.0000 1.0000 0.5660 0.8795 0.4062 0.0253
6 1.0000 0.3191 1.0000 0.4805 0.2105 0.6757 0.0000 0.0000 0.6146 0.1266
7 0.2319 0.0000 0.6190 0.0000 0.6447 0.7568 0.1887 1.0000 1.0000 0.9367

### Упражнение № 64

#### Вычислите корреляцию каждой строки `df` с последующей строкой.

In [307]:
df = pd.DataFrame(np.random.randint(1, 100, 80).reshape(8, -1))
correlation = df.corrwith(df.shift(1), method='pearson')
print(correlation)

0    0.0923
1   -0.0549
2   -0.4270
3    0.4136
4   -0.0405
5   -0.3020
6   -0.1999
7    0.1304
8    0.0516
9   -0.3786
dtype: float64

### Упражнение № 65

#### Замените все значения в обеих диагоналях `df` на 0.

In [308]:
df = pd.DataFrame(np.random.randint(1,100, 100).reshape(10, -1))
np.fill_diagonal(df.values, 0)
res = [df.iloc[i].corr(df.iloc[i+1]) for i in range(len(df)-1)]
[print(i) for i in res]

0.13087986871693205
-0.12379872078117263
-0.2871411272705727
0.15299145277566972
-0.03718781437819962
0.3496884474383555
-0.13045830172205958
0.47293044451388677
-0.2676294728137135

[None, None, None, None, None, None, None, None, None]

### Упражнение № 66

#### Из `df_grouped` получите в виде датафрейма группу, относящуюся к `apple`.

In [309]:
df = pd.DataFrame({
    'col1': ['apple', 'banana', 'orange'] * 3,
    'col2': np.random.rand(9),
    'col3': np.random.randint(0, 15, 9)
})

df_grouped = df.groupby('col1')
print(df)
print("\nГруппа, которая относится к apple:")
print(df_grouped.get_group('apple'))

     col1   col2  col3
0   apple 0.7429     9
1  banana 0.1024     1
2  orange 0.9742     7
3   apple 0.3387    12
4  banana 0.3908    10
5  orange 0.9583     6
6   apple 0.4197     5
7  banana 0.7269     1
8  orange 0.8215     1

Группа, которая относится к apple:
    col1   col2  col3
0  apple 0.7429     9
3  apple 0.3387    12
6  apple 0.4197     5

### Упражнение № 67

#### В `df` найдите второе по величине значение `taste` для `banana`.

In [310]:
df = pd.DataFrame({
    'fruit': ['apple', 'banana', 'orange'] * 3,
    'rating': np.random.rand(9),
    'price': np.random.randint(0, 15, 9)
})

banana_ratings = df[df['fruit'] == 'banana']['rating']
print("Исходный DataFrame:")
print(df)
print("\nВторое по величине значение:")
print(banana_ratings.nlargest(2).iloc[-1])

Исходный DataFrame:
    fruit  rating  price
0   apple  0.2461      0
1  banana  0.9181      6
2  orange  0.7130     12
3   apple  0.3560     13
4  banana  0.8885      6
5  orange  0.5318     13
6   apple  0.3511      2
7  banana  0.9438      1
8  orange  0.9927     10

Второе по величине значение:
0.9181378523584119

### Упражнение № 68

#### В `df` вычислите среднюю цену `Price` каждого фрукта `Fruit`, сохраняя фрукт как еще один столбец вместо индекса.

In [311]:
df = pd.DataFrame({
    'fruit': ['apple', 'banana', 'orange'] * 3,
    'rating': np.random.rand(9),
    'price': np.random.randint(0, 15, 9)
})

print("Исходный DataFrame:")
print(df)
print("\nСредняя цена")
print(df.groupby('fruit', as_index=False)['price'].mean())

Исходный DataFrame:
    fruit  rating  price
0   apple  0.6709     14
1  banana  0.9613      3
2  orange  0.7409      6
3   apple  0.8412      0
4  banana  0.3641     11
5  orange  0.5268      8
6   apple  0.8196      0
7  banana  0.2594     14
8  orange  0.8795      4

Средняя цена
    fruit  price
0   apple 4.6667
1  banana 9.3333
2  orange 6.0000

### Упражнение № 69

#### Объединить датафреймы `df1` и `df2` по признакам `fruit-pazham` и `weight-kilo`.

In [312]:
df1 = pd.DataFrame({
    'fruit': ['apple', 'banana', 'orange'] * 3,
    'weight': ['high', 'medium', 'low'] * 3,
    'price': np.random.randint(0, 15, 9)
})
df2 = pd.DataFrame({
    'pazham': ['apple', 'orange', 'pine'] * 2,
    'kilo': ['high', 'low'] * 3,
    'price': np.random.randint(0, 15, 6)
})

print("df1:")
print(df1)
print("\ndf2:")
print(df2)
print("\nОбъединенный DataFrame:")
print(pd.merge(df1, df2, left_on=['fruit', 'weight'], right_on=['pazham', 'kilo']))

df1:
    fruit  weight  price
0   apple    high      6
1  banana  medium      3
2  orange     low      4
3   apple    high      0
4  banana  medium      9
5  orange     low     12
6   apple    high     11
7  banana  medium     10
8  orange     low     11

df2:
   pazham  kilo  price
0   apple  high      6
1  orange   low      2
2    pine  high      7
3   apple   low      6
4  orange  high      5
5    pine   low     11

Объединенный DataFrame:
    fruit weight  price_x  pazham  kilo  price_y
0   apple   high        6   apple  high        6
1  orange    low        4  orange   low        2
2   apple   high        0   apple  high        6
3  orange    low       12  orange   low        2
4   apple   high       11   apple  high        6
5  orange    low       11  orange   low        2

### Упражнение № 70

#### Создайте в `df` два новых столбца, один из них — `lag1` (сдвиг столбца `a` вниз на 1 строку) столбца 'a', а другой — `lead1` (сдвиг столбца `b` вверх на 1 строку).

In [313]:
df = pd.DataFrame(np.random.randint(1, 100, 20).reshape(-1, 4), columns=list('abcd'))

df['a_lag1'] = df['a'].shift(1)
df['b_lead1'] = df['b'].shift(-1)

print(df)

    a   b   c   d  a_lag1  b_lead1
0  97  28  73  35     NaN  17.0000
1  10  17  86  46 97.0000  14.0000
2  47  14  53  61 10.0000   8.0000
3  65   8  53  47 47.0000  38.0000
4  16  38  86  76 65.0000      NaN

### Упражнение № 71

#### Получите частоты уникальных значений по всему датафрейму `df`.

In [314]:
df = pd.DataFrame(np.random.randint(1, 10, 20).reshape(-1, 4), columns=list('abcd'))

print(df)
print("\nЧастоты уникальных значений:")
print(df.stack().value_counts().sort_index())

   a  b  c  d
0  8  2  7  8
1  6  1  6  6
2  5  8  4  8
3  4  5  3  7
4  2  6  6  4

Частоты уникальных значений:
1    1
2    2
3    1
4    3
5    2
6    5
7    2
8    4
Name: count, dtype: int64

### Упражнение № 72

#### Разделите столбец `row` в `df` так, чтобы сформировать датафрейм с 3 столбцами, как показано в примере выходных данных.

In [315]:
df = pd.DataFrame(["STD, City\tState",
                   "33, Kolkata\tWest Bengal",
                   "44, Chennai\tTamil Nadu",
                   "40, Hyderabad\tTelengana",
                   "80, Bangalore\tKarnataka"], 
                  columns=['row'])
print(df)

df = df['row'].iloc[1:].str.split(',|\t', expand=True)
df.columns = ['STD', 'City', 'State']
print("\nРазделённый DataFrame:")
print(df)

                        row
0          STD, City\tState
1  33, Kolkata\tWest Bengal
2   44, Chennai\tTamil Nadu
3  40, Hyderabad\tTelengana
4  80, Bangalore\tKarnataka

Разделённый DataFrame:
  STD        City        State
1  33     Kolkata  West Bengal
2  44     Chennai   Tamil Nadu
3  40   Hyderabad    Telengana
4  80   Bangalore    Karnataka